﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;@using WebMatrix.WebData;
@{
    if (IsPost && !Request["logout"].IsEmpty())
    {
        Session.Abandon();
        Response.Redirect("Default");
    }

    if (Session["LOGIN_ID"] == null)
    {
        Session.Abandon();
        Response.Redirect("Default");
    }
}
<!DOCTYPE html>
<html>
    <head>      
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App Favicon -->
        <link rel="shortcut icon" href="assets/images/logo-pertamina.png">
        <!-- Switchery css -->
        <link href="assets/plugins/switchery/switchery.min.css" rel="stylesheet" />

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="assets/plugins/morris/morris.css">
        <!--Chartist Chart CSS -->
        <link rel="stylesheet" href="assets/plugins/chartist/dist/chartist.min.css">
        <!-- DataTables -->
        <link href="assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

        <!-- App CSS -->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
        <!-- X-editable css -->
        <link type="text/css" href="assets/plugins/x-editable/css/bootstrap-editable.css" rel="stylesheet">


        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        <!-- Modernizr js -->
        <script src="assets/js/modernizr.min.js"></script>

        <script type="text/javascript" language="JavaScript">
            function konfirmasi() {
                tanya = confirm("Anda yakin hendak keluar ?");
                if (tanya == true) return true;
                else return false;
            }
        </script>
        <!-- App title -->

        <!-- Switchery css -->
        <link href="assets/plugins/switchery/switchery.min.css" rel="stylesheet" />

        <!-- Sweet Alert css -->
        <link href="assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css" />

        <!-- DataTables -->
        <link href="assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="assets/plugins/morris/morris.css">
        <!--Chartist Chart CSS -->
        <link rel="stylesheet" href="assets/plugins/chartist/dist/chartist.min.css">

        <!-- App CSS -->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            .navigation-menu li a {
                color: #ffffff !important;
            }

            #topnav {
                background-color: #DA251C !important;
            }

            #topnav .topbar-main {
                background-color: #ffffff !important;
            }

            .submenu .megamenu li ul a {
                color: red;
            }

            #topnav .navigation-menu > li .submenu {
                background-color: #0673BAE6   !important;
            }

            .notification-list .notify-item {
                background-color: #32599C !important;
            }
            </style>

            <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        <!-- Modernizr js -->
        <script src="assets/js/modernizr.min.js"></script>

        @RenderSection("Scripts", required: false)

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/tether.min.js"></script><!-- Tether for Bootstrap -->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.nicescroll.js"></script>
        <script src="assets/plugins/switchery/switchery.min.js"></script>

        <!-- Required datatable js -->
        <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Buttons examples -->
        <script src="assets/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="assets/plugins/datatables/jszip.min.js"></script>
        <script src="assets/plugins/datatables/pdfmake.min.js"></script>
        <script src="assets/plugins/datatables/vfs_fonts.js"></script>
        <script src="assets/plugins/datatables/buttons.html5.min.js"></script>
        <script src="assets/plugins/datatables/buttons.print.min.js"></script>
        <script src="assets/plugins/datatables/buttons.colVis.min.js"></script>

        <!-- Responsive examples -->
        <script src="assets/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

        <!-- Counter Up  -->
        <script src="assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
        <script src="assets/plugins/counterup/jquery.counterup.min.js"></script>

        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

        <!-- XEditable Plugin -->
        <script src="assets/plugins/moment/moment.js"></script>
        <script type="text/javascript" src="assets/plugins/x-editable/js/bootstrap-editable.min.js"></script>
        <script type="text/javascript" src="assets/pages/jquery.xeditable.js"></script>

        <!-- Page specific js -->
        <!--<script src="assets/pages/jquery.dashboard.js"></script>-->

        <!-- Chart JS -->
        <!--
        <script src="assets/plugins/chart.js/chart.min.js"></script>
        <script src="assets/pages/chartjs.init.js"></script>
        //-->

        <!-- Modal-Effect -->
        <script src="assets/plugins/custombox/js/custombox.min.js"></script>
        <script src="assets/plugins/custombox/js/legacy.min.js"></script>

        <!-- Pickers -->
        <!--
        <script src="assets/plugins/moment/moment.js"></script>
        <script src="assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
        <script src="assets/plugins/mjolnic-bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
        <script src="assets/plugins/clockpicker/bootstrap-clockpicker.js"></script>
        <script src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
        //-->
        <script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <!--
        <script src="assets/pages/jquery.form-pickers.init.js"></script>
        //-->
        <script type="text/javascript">
            $(document).ready(function () {
                $('#datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });

        </script>
        <script>
            var resizefunc = [];
        </script>

        <!--Morris Chart-->
        <!--
        <script src="assets/plugins/morris/morris.min.js"></script>
        <script src="assets/plugins/raphael/raphael-min.js"></script>
        //-->

        <!-- Counter Up  -->
        <script src="assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
        <script src="assets/plugins/counterup/jquery.counterup.min.js"></script>

        <!--Chartist Chart-->
        <!--
        <script src="assets/plugins/chartist/dist/chartist.min.js"></script>
        <script src="assets/plugins/chartist/dist/chartist-plugin-tooltip.min.js"></script>
        //-->

        <!-- Knob -->
        <script src="assets/plugins/jquery-knob/jquery.knob.js"></script>

        <!-- App js -->
        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

        <!-- Charts Widget init -->
        <!--<script src="assets/pages/jquery.chart-widgets.init.js"></script>-->

        <!--Morris Chart-->
        <!--
        <script src="assets/plugins/morris/morris.min.js"></script>
        <script src="assets/plugins/raphael/raphael-min.js"></script>
        //-->

        <!-- Counter Up  -->
        <script src="assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
        <script src="assets/plugins/counterup/jquery.counterup.min.js"></script>

        <!--Chartist Chart-->
        <!--
        <script src="assets/plugins/chartist/dist/chartist.min.js"></script>
        <script src="assets/plugins/chartist/dist/chartist-plugin-tooltip.min.js"></script>
        //-->

        <!-- Knob -->
        <script src="assets/plugins/jquery-knob/jquery.knob.js"></script>

        <!-- App js -->
        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

        <!-- Charts Widget init -->
        <!--
        <script src="assets/pages/jquery.chart-widgets.init.js"></script>
        <script>
            var resizefunc = [];
        </script>
        //-->
        <!-- Sweet Alert js -->
        <script src="assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
        <script src="assets/pages/jquery.sweet-alert.init.js"></script>

        <!-- App js -->
        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

        <!-- XEditable Plugin -->
        <script src="assets/plugins/moment/moment.js"></script>
        <script type="text/javascript" src="assets/plugins/x-editable/js/bootstrap-editable.min.js"></script>
        <script type="text/javascript" src="assets/pages/jquery.xeditable.js"></script>
        <!-- Required datatable js -->
        <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="assets/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="assets/plugins/datatables/jszip.min.js"></script>
        <script src="assets/plugins/datatables/pdfmake.min.js"></script>
        <script src="assets/plugins/datatables/vfs_fonts.js"></script>
        <script src="assets/plugins/datatables/buttons.html5.min.js"></script>
        <script src="assets/plugins/datatables/buttons.print.min.js"></script>
        <script src="assets/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="assets/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

        <!-- toastr -->
        <script src="assets/plugins/toastr/toastr.min.js"></script>
        <link href="assets/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css" />

        <!-- iOS Overlay -->
        <script src="assets/plugins/overlay/iosOverlay.js"></script>
        <script src="assets/plugins/overlay/spin.min.js"></script>
        <link rel="stylesheet" href="assets/plugins/overlay/iosOverlay.css">
        <!--script src="assets/plugins/overlay/modernizr-2.0.6.min.js"></script-->
        <script type="text/javascript">
            function createOverlay(screenText) {
                var target = document.createElement("div");
                document.body.appendChild(target);
                var opts = {
                    lines: 13, // The number of lines to draw
                    length: 11, // The length of each line
                    width: 5, // The line thickness
                    radius: 17, // The radius of the inner circle
                    corners: 1, // Corner roundness (0..1)
                    rotate: 0, // The rotation offset
                    color: '#FFF', // #rgb or #rrggbb
                    speed: 1, // Rounds per second
                    trail: 60, // Afterglow percentage
                    shadow: false, // Whether to render a shadow
                    hwaccel: false, // Whether to use hardware acceleration
                    className: 'spinner', // The CSS class to assign to the spinner
                    zIndex: 2e9, // The z-index (defaults to 2000000000)
                    top: 'auto', // Top position relative to parent in px
                    left: 'auto' // Left position relative to parent in px
                };
                var spinner = new Spinner(opts).spin(target);
                gOverlay = iosOverlay({
                    text: screenText,
                    /*duration: 2e3,*/
                    spinner: spinner
                });
            }

            var gOverlay;
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf', 'colvis']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });

        </script>
    </head>
    <body>
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container">

                    <!-- LOGO -->
                    <div class="topbar-left">
                        <a href="Default_" class="logo">
                            <img src="./img/logo-pertamina.png" style="width: 200px;">
                        </a>
                    </div>
                    <!-- End Logo container-->


                    <div class="menu-extras">

                        <ul class="nav navbar-nav pull-right">

                            <li class="nav-item">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>
                        </ul>

                    </div> <!-- end menu-extras -->
                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->


            <div class="navbar-custom">
                <div class="container">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">
                            <li>
                                <a href="Default_"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                            </li>
                            <li class="has-submenu">
                                <a href=""><i class="zmdi zmdi-format-underlined"></i> <span> Data Master</span> </a>
                                <ul class="submenu megamenu">
                                    <li>
                                        <ul><li><a href="DataMobil">Data Mobil</a></li></ul>
                                        @{
                                            if (Functions.md5(Session["LOGIN_GROUP"].ToString()) == Functions.md5("GR_ADMINISTRATOR"))
                                            {
                                                <ul><li><a href="ManajemenUser">Data User</a></li></ul>
                                                <ul><li><a href="PengaturanUser">Pengaturan User</a></li></ul>
                                            }
                                        }
                                        
                                    </li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><span><i class="zmdi zmdi-collection-text"></i> Data Pemeriksaan </span> </a>
                                <ul class="submenu">
                                    <li><a href="DataPemeriksaan?status=CS_PROGRESS">Dalam Proses</a></li>
                                    <li><a href="DataPemeriksaan?status=CS_REQ_ACKNOWLEDGE">Menunggu Diketahui</a></li>
                                    <li><a href="DataPemeriksaan?status=CS_ACKNOWLEDGED">Telah Diketahui</a></li>
                                    <li><a href="DataPemeriksaan?status=CS_RECHECK">Pemeriksaan Ulang</a></li>
                                    <li><a href="DataPemeriksaan?status=CS_REQ_APPROVAL">Menunggu Persetujuan Akhir</a></li>
                                    <li><a href="DataPemeriksaan?status=CS_APPROVED">Disetujui</a></li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="zmdi zmdi-collection-text"></i><span> Verifikasi Pemeriksaan </span></a>
                                <ul class="submenu">
                                    <li><a href="DataPemeriksaan?status=CS_REQ_ACKNOWLEDGE&verify=1">Menunggu Diketahui</a></li>
                                    <li><a href="DataPemeriksaan?status=CS_REQ_APPROVAL&verify=1">Menunggu Persetujuan Akhir</a></li>
                                    <li><a href="DataPemeriksaan?status=CS_REQ_APPROVAL&verify=1&final=1">Menunggu Persetujuan Operational Head</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="RiwayatPemeriksaan"><i class="zmdi zmdi-format-list-bulleted"></i><span> Riwayat Pemeriksaan </span></a>
                            </li>
                            <!--li class="has-submenu">
                                <a href="ManajemenUser"><i class="zmdi zmdi-album"></i><span> Manajemen User </span></a>
                            </li-->
                            <li class="has-submenu pull-right col-md-12 col-lg-12 col-xs-12">
                                <ul class="dropdown notification-list ">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                        <img src="assets/images/users/avatar-1.jpg" alt="user" class="img-circle" style="margin-top:10px; margin-bottom:10px;" >
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow profile-dropdown " aria-labelledby="Preview">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5 class="text-overflow"><small>@Session["LOGIN_NAME"]</small> </h5>
                                        </div>

                                        <!-- item-->
                                        <a href="Profile" class="dropdown-item notify-item">
                                            <i class="zmdi zmdi-account-circle"></i> <span> Profil</span>
                                        </a>
                                        <a href="ChangePassword" class="dropdown-item notify-item">
                                            <i class="typcn typcn-key-outline"></i> <span>Ubah Password</span>
                                        </a>

                                        <!-- item-->
                                        <form method="post">
                                        <a href="Logout" class="dropdown-item notify-item" name="logout" onclick="return konfirmasi()">
                                            <i class="zmdi zmdi-power"></i> Logout
                                        </a>
                                        </form>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                        <!-- End navigation menu  -->
                    </div>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer class="footer text-right">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12" align="center">
                        2017 © PT.PERTAMINA MOR III
                    </div>
                </div>
            </div>
        </footer>
        
    </body>
</html>
