﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Tambah Mobil";

    var IDMobil = "";
    var Pengelola = "";
    var Merk = "";
    var Tahun = "";
    var Jenis = "";
    var Kapasitas = "";
    var Lokasi = "";
    var Tipe = "";
    var Subtipe = "";

    var errMsg = "";    

    if (IsPost)
    {
        if (string.IsNullOrWhiteSpace(Request.Form["IDMobil"]))
        {
            errMsg += "Isikan plat nomor mobil \n";
        }

        if (string.IsNullOrWhiteSpace(Request.Form["Pengelola"]))
        {
            errMsg += "Isikan perusahaan pemilik/pengelola \n";
        }

        if (string.IsNullOrWhiteSpace(Request.Form["Merk"]))
        {
            errMsg += "Isikan merk \n";
        }

        if (string.IsNullOrWhiteSpace(Request.Form["Tipe"]))
        {
            errMsg += "Isikan tipe \n";
        }

        if (string.IsNullOrWhiteSpace(Request.Form["Jenis"]))
        {
            errMsg += "Isikan jenis \n";
        }

        if (string.IsNullOrWhiteSpace(Request.Form["Tahun"]))
        {
            errMsg += "Isikan tahun lokasi \n";
        }

        if (string.IsNullOrWhiteSpace(Request.Form["Lokasi"]))
        {
            errMsg += "Isikan lokasi \n";
        }

        if (string.IsNullOrWhiteSpace(Request.Form["Kapasitas"]))
        {
            errMsg += "Isikan kapasitas mesin \n";
        }
        
        if(errMsg == "")
        {
            IDMobil = Request.Form["IDMobil"];
            Pengelola = Request.Form["Pengelola"];
            Merk = Request.Form["Merk"];
            Tahun = Request.Form["Tahun"];
            Jenis = Request.Form["Jenis"];
            Kapasitas = Request.Form["Kapasitas"];
            Lokasi = Request.Form["Lokasi"];
            Tipe = Request.Form["Tipe"];
            //Subtipe = Request.Form["Subtipe"];
            
            string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;
            
            SqlConnection conn0 = new SqlConnection(connStr);
            conn0.Open();
            
            SqlCommand mobil = new SqlCommand();
            mobil.CommandText = "SELECT MBL_ID FROM cl_mobil WHERE MBL_ID = @0";
            mobil.CommandType = CommandType.Text;
            mobil.Connection = conn0;
            mobil.Parameters.AddWithValue("@0", IDMobil);
            SqlDataReader rs_mobil = mobil.ExecuteReader();
            if(rs_mobil.HasRows)
            {
                errMsg = "Data mobil " + IDMobil + " sudah ada";
            }
            rs_mobil.Close();
            conn0.Close();
            
            if(errMsg == "")
            {
                SqlConnection conn1 = new SqlConnection(connStr);
                conn1.Open();
            
                SqlCommand insMobil = new SqlCommand();

                insMobil.CommandText = "INSERT INTO cl_mobil (MBL_ID,MBL_PENGELOLA,MBL_MERK,MBL_TAHUN,MBL_JENIS,MBL_KAPASITAS,MBL_LOKASI,MBL_TIPE)VALUES (@0,@1,@2,@3,@4,@5,@6,@7)";
                insMobil.CommandType = CommandType.Text;
                insMobil.Connection = conn1;
                insMobil.Parameters.AddWithValue("@0", IDMobil);
                insMobil.Parameters.AddWithValue("@1", Pengelola);
                insMobil.Parameters.AddWithValue("@2", Merk);
                insMobil.Parameters.AddWithValue("@3", Tahun);
                insMobil.Parameters.AddWithValue("@4", Jenis);
                insMobil.Parameters.AddWithValue("@5", Kapasitas);
                insMobil.Parameters.AddWithValue("@6", Lokasi);
                insMobil.Parameters.AddWithValue("@7", Tipe);

                int opr = insMobil.ExecuteNonQuery();

                conn1.Close();
                
                if(opr > 0)
                {
                    Session["PAGE_MESSAGE"] = "Data mobil " + IDMobil + " telah disimpan";
                    Session["PAGE_STATUS"] = "SUCCESS";
                    Response.Redirect("DataMobil");    
                }
                else
                {
                    errMsg = "Proses simpan data GAGAL";   
                }
            }
        }
    }
    
}

    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="wrapper">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="page-title"><a href="~/DataMobil"><i class="icon-arrow-left position-left"></i> Data Mobil</a></h5>
                </div>
            </div>
            <div class="card-box">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-6">
                        <h4 class="header-title m-t-0">Tambah Mobil</h4>
                        <p class="text-muted font-13 m-b-10">
                        </p>
                        <div class="p-20">
                            <form class="form-horizontal " method="post">
                                <div class="form-group">
                                    <label>ID</label>
                                    <input type="text" class="form-control font-weight-bold" required
                                           placeholder="Plat nomor..." value="@Request.Form["IDMobil"]" name="IDMobil" />
                                </div>

                                <div class="form-group">
                                    <label>Pengelola Mobil</label>
                                    <input type="text" class="form-control" required
                                           placeholder="Pemilik..." value="@Request.Form["Pengelola"]"  name="Pengelola" />
                                </div>

                                <div class="form-group">
                                    <label>Merk Mobil</label>
                                    <div>
                                        <input type="text" class="form-control" required
                                               placeholder="Merk..." value="@Request.Form["Merk"]"  name="Merk"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Tahun Mobil</label>
                                    <div>
                                        <input type="text" class="form-control" required
                                               placeholder="Tahun rakit..." value="@Request.Form["Tahun"]"  name="Tahun" />
                                        <!--<select class="form-control">
                                            <option value="">Pilih Tahun</option>
                                            <option value="1">2001</option>
                                            <option value="2">2002</option>
                                            <option value="3">2003</option>
                                            <option value="4">2004</option>
                                            <option value="5">2005</option>
                                            <option value="6">2006</option>
                                            <option value="7">2007</option>
                                            <option value="8">2008</option>
                                            <option value="9">2009</option>
                                            <option value="10">2010</option>
                                        </select>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Jenis Mobil</label>
                                    <div>
                                        <input type="text" class="form-control"
                                               required placeholder="Jenis..."  name="Jenis"value="@Request.Form["Jenis"]" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Kapasitas Mobil</label>
                                    <div>
                                        <input  type="text" class="form-control"
                                               required placeholder="Kapasitas (cc)..." name="Kapasitas" value="@Request.Form["Kapasitas"]" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Lokasi Mobil</label>
                                    <div>
                                        <input  type="text" class="form-control"
                                               required placeholder="Lokasi..." name="Lokasi" value="@Request.Form["Lokasi"]" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tipe Mobil</label>
                                    <div>
                                        <select class="form-control" name="Tipe">
                                            <option value="MBL_BBM">Mobil Tangki BBM</option>
                                            <option value="MBL_LPG">Mobil LPG</option>
                                            <option value="MBL_BRG">Mobil Barang</option>
                                        </select>
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light" name="buttonSubmit">
                                            Simpan
                                        </button>
                                        <button type="button" onclick="window.location='AddMobil'" class="btn btn-secondary waves-effect m-l-5">
                                            Batal
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer class="footer text-right">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12" align="center">
                            2017 © PT.PERTAMINA. All right reserved
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </div>

@{
    if(errMsg != "")
    {
        <script type="text/javascript">
            toastr.error("@errMsg");
        </script>
    }
}


