﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Tambah Data User ";

    string errMsg = "";

    var IDUser = "";
    var Password = "";
    var Username = "";
    var Status = "";
    var GroupRole = "";
    
    if (IsPost)
    {
        if (string.IsNullOrWhiteSpace(Request.Form["IDUser"]))
        {
            errMsg += "Isikan user ID \n";
        }

        if (string.IsNullOrWhiteSpace(Request.Form["Password"]))
        {
            errMsg += "Isikan password \n";
        }

        if (string.IsNullOrWhiteSpace(Request.Form["Username"]))
        {
            errMsg += "Isikan nama user \n";
        }

        if (string.IsNullOrWhiteSpace(Request.Form["Status"]))
        {
            errMsg += "Tentukan status user \n";
        }

        if (string.IsNullOrWhiteSpace(Request.Form["GroupRole"]))
        {
            errMsg += "Tentukan group role user \n";
        }
        
        IDUser = Request.Form["IDUser"];
        Password = Request.Form["Password"];
        Username = Request.Form["Username"];
        Status = Request.Form["Status"];
        GroupRole = Request.Form["GroupRole"];

        string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;

        SqlConnection conn0 = new SqlConnection(connStr);
        conn0.Open();

        SqlCommand aUser = new SqlCommand();
        aUser.CommandText = "SELECT U_ID FROM cl_users WHERE U_ID = @0";
        aUser.CommandType = CommandType.Text;
        aUser.Connection = conn0;
        aUser.Parameters.AddWithValue("@0", IDUser);
        SqlDataReader rs_user = aUser.ExecuteReader();
        if (rs_user.HasRows)
        {
            errMsg = "Data user " + IDUser + " sudah ada";
        }
        rs_user.Close();
        conn0.Close();

        if (errMsg == "")
        {
            string passwordHash = Functions.md5(IDUser + "" + Password);    
            
            SqlConnection conn1 = new SqlConnection(connStr);
            conn1.Open();

            SqlCommand insUser = new SqlCommand();

            insUser.CommandText = "INSERT INTO cl_users (U_ID,U_PASSWORD,U_NAME,U_STATUS,U_GROUP_ROLE,U_PASSWORD_HASH)VALUES (@0,@1,@2,@3,@4,@5)";
            insUser.CommandType = CommandType.Text;
            insUser.Connection = conn1;
            insUser.Parameters.AddWithValue("@0", IDUser);
            insUser.Parameters.AddWithValue("@1", Password);
            insUser.Parameters.AddWithValue("@2", Username);
            insUser.Parameters.AddWithValue("@3", Status);
            insUser.Parameters.AddWithValue("@4", GroupRole);
            insUser.Parameters.AddWithValue("@5", passwordHash);

            int opr = insUser.ExecuteNonQuery();

            conn1.Close();

            if (opr > 0)
            {
                Session["PAGE_MESSAGE"] = "Data user " + IDUser + " telah disimpan";
                Session["PAGE_STATUS"] = "SUCCESS";
                Response.Redirect("ManajemenUser");
            }
            else
            {
                errMsg = "Proses simpan data GAGAL";
            }
        }
    }
}
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="wrapper">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Data User</h4>
            </div>
        </div>
        <div class="card-box">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-6">
                    <h4 class="header-title m-t-0">Tambah User</h4>
                    <p class="text-muted font-13 m-b-10">
                    </p>
                    <div class="p-20">
                        <form class="form-horizontal" method="post">
                            <div class="form-group">
                                <label>User ID</label>
                                <input type="text" class="form-control font-weight-bold" required
                                       placeholder="User ID" name="IDUser"/>
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" required
                                       placeholder="Username" name="Username"/>
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <div>
                                    <input type="password" class="form-control" required
                                           placeholder="Password"  name="Password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <div>
                                    <select class="form-control" name="Status">
                                        <option value="ACCT_ACTIVE">Aktif</option>
                                        <option value="ACCT_BLOCKED">Terblokir</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Group Role</label>
                                <div>
                                    <select class="form-control" name="GroupRole">
                                        <option value="GR_ADMINISTRATOR">Administrator</option>
                                        <option value="GR_USER">User</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">
                                        Simpan
                                    </button>
                                    <button type="button" onclick="window.location='AddUser'" class="btn btn-secondary waves-effect m-l-5">
                                        Batal
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>