﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Ubah Password";

    string errMsg = "";
    
    if(IsPost)
    {
        if (string.IsNullOrWhiteSpace(Request.Form["passwordLama"]))
        {
            errMsg += "Isikan password lama \n";
        }
        if (string.IsNullOrWhiteSpace(Request.Form["passwordBaru"]))
        {
            errMsg += "Isikan password baru \n";
        }
        if (string.IsNullOrWhiteSpace(Request.Form["passwordConfirm"]))
        {
            errMsg += "Isikan konfirmasi password baru \n";
        }

        string passwordLama = Request.Form["passwordLama"];
        string passwordBaru = Request.Form["passwordBaru"];
        string passwordConfirm = Request.Form["passwordConfirm"];
        
        if(Functions.md5(passwordBaru) != Functions.md5(passwordConfirm))
        {
            errMsg += "Password baru dan konfirmasi password baru tidak sesuai";
        }
        
        if(errMsg == "")
        {
            string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;

            SqlConnection conn0 = new SqlConnection(connStr);
            conn0.Open();

            SqlCommand user = new SqlCommand();
            user.Connection = conn0;
            user.CommandType = CommandType.Text;
            user.CommandText = "SELECT * FROM cl_users WHERE U_ID = @0 AND U_PASSWORD_HASH = @1";
            user.Parameters.AddWithValue("@0", Session["LOGIN_ID"]);
            user.Parameters.AddWithValue("@1", Functions.md5(Session["LOGIN_ID"] + "" + passwordLama));
            
            SqlDataReader rs_user = user.ExecuteReader();
            if(!rs_user.HasRows)
            {
                errMsg += "Periksa kembali password lama Anda";
            }
            else
            {
                SqlConnection conn1 = new SqlConnection(connStr);
                conn1.Open();
                SqlCommand updUser = new SqlCommand();
                updUser.Connection = conn1;
                updUser.CommandType = CommandType.Text;
                updUser.CommandText = "UPDATE cl_users SET U_PASSWORD_HASH = @0, U_PASSWORD = @2 WHERE U_ID = @1";
                updUser.Parameters.AddWithValue("@0", Functions.md5(Session["LOGIN_ID"] + "" + passwordBaru));
                updUser.Parameters.AddWithValue("@1", Session["LOGIN_ID"]);
                updUser.Parameters.AddWithValue("@2", passwordBaru);
                int opr = updUser.ExecuteNonQuery();
                conn1.Close();

                Session["PAGE_MESSAGE"] = "Password Anda telah berubah";
                Session["PAGE_STATUS"] = "SUCCESS";
                Response.Redirect("Default_");
            }
            
            rs_user.Close();
            conn0.Close();
        }
    }
}

<div class="wrapper">
    <div class="container">
        <!-- Page-Title -->
        <!--
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Ubah Password</h4>
            </div>
        </div>
        //-->
        <div class="row">
            <div class="col-sm-10">
                <div class="card-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4 class="m-b-30 m-t-0 header-title panel-heading"><b>Ubah Password</b></h4>
                            <form method="post" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label">User ID</label>
                                    <div class="col-sm-7">
                                        <input type="text" readonly class="font-weight-bold form-control" value="@Session["LOGIN_ID"]"/>
                                        <!--<a href="#" id="inline-username" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click" style="display: inline-block;">User name</a>-->
                                    </div>
                                </div>
                                <!--
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label">Email</label>
                                    <div class="col-sm-7">
                                        <a href="#" id="inline-dob" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your firstname">budi@gmail.com</a>
                                    </div>
                                </div>
                                //-->
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label">Password Lama</label>
                                    <div class="col-sm-7">
                                        <input type="password" name="passwordLama" id="passwordLama" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label">Password Baru</label>
                                    <div class="col-sm-7">
                                        <input type="password" name="passwordBaru" id="passwordBaru" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label">Konfirmasi Password Baru</label>
                                    <div class="col-sm-7">
                                        <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light" name="buttonSubmit">
                                            Simpan
                                        </button>
                                        <button type="button" onclick="window.location='Default_'" class="btn btn-secondary waves-effect m-l-5">
                                            Batal
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

@{
    if (errMsg != "")
    {
        <script type="text/javascript">
            toastr.error("@errMsg");
        </script>
    }
}
