﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Data Mobil";

    string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;
    SqlConnection conn1 = new SqlConnection(connStr);
    SqlCommand mobil = new SqlCommand();
    SqlDataReader rs_mobil;

    mobil.CommandText = "SELECT A.*,B.R_INFO FROM cl_mobil AS A INNER JOIN cl_references AS B ON A.MBL_TIPE = B.R_ID WHERE B.R_CATEGORY = 'TIPE_MOBIL'";
    mobil.CommandType = CommandType.Text;
    mobil.Connection = conn1;
    
    conn1.Open();

    rs_mobil = mobil.ExecuteReader();

    if (Session["PAGE_MESSAGE"] != null && Session["PAGE_STATUS"] != null)
    {
        if(Session["PAGE_STATUS"] == "SUCCESS")
        { 
            <script type="text/javascript">
                toastr.success('@Session["PAGE_MESSAGE"]');
            </script>
        }
        if (Session["PAGE_STATUS"] == "ERROR")
        {
            <script type="text/javascript">
                toastr.error('@Session["PAGE_MESSAGE"]');
            </script>
        }
    }
    Session["PAGE_MESSAGE"] = null;
    Session["PAGE_STATUS"] = null;
}
<script type="text/javascript" language="JavaScript">
    function confirmDelete(mblId) {
        var tanya = confirm("Hapus data mobil " + mblId  + " ?");
        if (tanya == true) {
            createOverlay("Proses...");
            $.ajax({
                type: "POST",
                url: "ServiceMobil",
                data: "act=delete&id=" + encodeURI(mblId),
                dataType: "json",
                success: function (data) {
                    //console.log("STATUS : " + data["STATUS"]);
                    //console.log("MESSAGE : " + data["MESSAGE"]);
                    gOverlay.hide();
                    if (data["STATUS"] == "SUCCESS") {
                        toastr.success(data["MESSAGE"]);
                        setTimeout(function () {
                            location.reload();
                        }, 900);
                    }
                    else {
                        toastr.error(data["MESSAGE"]);
                    }
                },
                error: function (error) {
                    //alert("Error : " + error);
                    gOverlay.hide();
                    for (var k in error) {
                        if (error.hasOwnProperty(k)) {
                            alert("Key is : " + k + ", value is : " + error[k]);
                        }
                    }
                }
            });
        }
    }
</script>
<div class="wrapper">
    <div class="container">
           
        <!-- Page-Title -->
        <div class="row">

            <div class="col-sm-12">
                <h4 class="page-title">Data Master</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">
                    <h4 class="m-t-0 header-title"><b>Data Mobil</b></h4>
                    <br />
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xs-12">                        
                        <button type="button" class="btn btn-info waves-effect waves-light" onclick="window.location = 'AddMobil'">
                            <span class="btn-label">
                                <i class="fa fa-plus-circle"></i>
                            </span>Tambah Mobil
                        </button>                        
                    </div>
                    <br><table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Pengelola</th>
                                <th>Merk</th>
                                <th>Tahun Rakit</th>
                                <th>Jenis</th>
                                <th>Kapasitas</th>
                                <th>Lokasi</th>
                                <th>Tipe</th>
                                <!--th>Subtipe</th-->
                                <th>&nbsp;</th>
                            </tr>
                        </thead>


                        <tbody>
                            @{
                                if (rs_mobil.HasRows)
                                {
                                    while (rs_mobil.Read())
                                    {
                                        <tr>
                                            <td><b>@rs_mobil["MBL_ID"].ToString()</b></td>
                                            <td>@rs_mobil["MBL_PENGELOLA"].ToString()</td>
                                            <td>@rs_mobil["MBL_MERK"].ToString()</td>
                                            <td>@rs_mobil["MBL_TAHUN"].ToString()</td>
                                            <td>@rs_mobil["MBL_JENIS"].ToString()</td>
                                            <td>@rs_mobil["MBL_KAPASITAS"].ToString()</td>
                                            <td>@rs_mobil["MBL_LOKASI"].ToString()</td>
                                            <td>@rs_mobil["R_INFO"].ToString()</td>
                                            <td style="text-align:center">
                                                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                                    <button type="button" class="btn btn-primary waves-effect waves-light btn-sm" onclick="window.location='EditMobil?IDMobil=@rs_mobil["MBL_ID"].ToString()'">
                                                        <i class="icon-pencil"></i>
                                                    </button>
                                                
                                                    <button type="button" class="btn btn-danger waves-effect waves-light btn-sm" onclick="confirmDelete('@rs_mobil["MBL_ID"].ToString()')">
                                                        <i class="fa fa-remove"></i>
                                                    </button>
                                                    <!--
                                                    <button type="button" class="btn btn-default waves-effect waves-light btn-sm" onclick="window.location = 'DetailMobil?IDMobil='">
                                                        <i class="fa fa-ellipsis-h"></i>
                                                    </button>
                                                    //-->
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                                rs_mobil.Close();
                                conn1.Close();
                            }
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end row -->
        <!-- end row -->


    </div>
</div>





