﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Data Pemeriksaan";

    string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;
    SqlCommand checklist = new SqlCommand();
    SqlDataReader rs_checklist = null;

    string clStatus = "";
    string verify = "0";
    string final = "0";

    if (!IsPost)
    {
        if (string.IsNullOrWhiteSpace(Request["status"]))
        {
            clStatus = "CS_PROGRESS";
        }
        else
        {
            clStatus = Request["status"];
        }

        if (!string.IsNullOrWhiteSpace(Request["verify"]))
        {
            verify = Request["verify"];
            if (verify == "1")
            {
                Page.Title = "Verifikasi Pemeriksaan";
            }
        }

        if (!string.IsNullOrWhiteSpace(Request["final"]))
        {
            final = Request["final"];
            if (final == "1")
            {
                Page.Title = "Verifikasi Pemeriksaan Akhir O.H";
            }
        }

        SqlConnection conn1 = new SqlConnection(connStr);
        conn1.Open();


        checklist.CommandType = CommandType.Text;
        checklist.CommandText = "SELECT A.*,B.MBL_ID,C.MBL_PENGELOLA,C.MBL_TIPE,C.MBL_SUBTIPE FROM cl_checklist AS A INNER JOIN cl_checklist_request AS B ON A.CR_ID = B.CR_ID INNER JOIN cl_mobil AS C ON B.MBL_ID = C.MBL_ID WHERE A.CL_STATUS = @clStatus ORDER BY B.MBL_ID";
        checklist.Connection = conn1;
        checklist.Parameters.AddWithValue("@clStatus", clStatus);

        rs_checklist = checklist.ExecuteReader();
    }
}
<div class="wrapper">
    <div class="container">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">@Page.Title</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">
                    <h4 class="m-t-0 header-title"><b>@Functions.GetReferenceInfo("CHECKING_STATUS", clStatus)</b></h4>
                    <br>

                    <br><table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Mobil</th>
                                <th>Kriteria Pemeriksaan</th>
                                <th>Tanggal</th>
                                <th>User</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                if (rs_checklist.HasRows)
                                {
                                    while (rs_checklist.Read())
                                    {
                                        <tr>
                                            <td><b>@rs_checklist["MBL_ID"].ToString()</b></td>
                                            <td>@rs_checklist["CL_KRITERIA_PERIKSA"].ToString()</td>
                                            <td>@rs_checklist["CL_TGL_STATUS"].ToString()</td>
                                            <td>@rs_checklist["U_ID"].ToString()</td>
                                            <td style="text-align:left;">
                                                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3">
                                                    @if (rs_checklist["CL_KRITERIA_PERIKSA"].ToString() == "HSE")
                                                    {
                                                        if (rs_checklist["MBL_TIPE"].ToString() == "MBL_BBM")
                                                        {
                                                            <a href="Detail-HSE-BBM?IDCheckList=@rs_checklist["CL_ID"].ToString()&verify=@verify&final=@final" class="col-lg-6">
                                                                <i class="zmdi zmdi-eye"></i><span> Detil</span>
                                                            </a>
                                                        }

                                                        if (rs_checklist["MBL_TIPE"].ToString() == "MBL_LPG")
                                                        {
                                                            <a href="Detail-HSE-LPG?IDCheckList=@rs_checklist["CL_ID"].ToString()&verify=@verify&final=@final" class="col-lg-6">
                                                                <i class="zmdi zmdi-eye"></i><span> Detil</span>
                                                            </a>
                                                        }

                                                        if (rs_checklist["MBL_TIPE"].ToString() == "MBL_BRG")
                                                        {
                                                            <a href="Detail-HSE-BRG?IDCheckList=@rs_checklist["CL_ID"].ToString()&verify=@verify&final=@final" class="col-lg-6">
                                                                <i class="zmdi zmdi-eye"></i><span> Detil</span>
                                                            </a>
                                                        }

                                                    }
                                                    @if (rs_checklist["CL_KRITERIA_PERIKSA"].ToString() == "QQ")
                                                    {
                                                        if (rs_checklist["MBL_TIPE"].ToString() == "MBL_BBM")
                                                        {
                                                            <a href="Detail-QQ-BBM?IDCheckList=@rs_checklist["CL_ID"].ToString()&verify=@verify&final=@final" class="col-lg-6">
                                                                <i class="zmdi zmdi-eye"></i><span> Detil</span>
                                                            </a>
                                                        }
                                                    }

                                                    @if (Functions.GetDownloadStatus(rs_checklist["CL_ID"].ToString()) == "APPROVED_DOWNLOAD")
                                                    {
                                                        <a href="SuratIjin?IDCheckList=@rs_checklist["CL_ID"]" class="col-lg-6">
                                                            <i class="zmdi zmdi-download"></i><span> Download Surat Ijin</span>
                                                        </a>
                                                    }
                                                    @if (Functions.GetDownloadStatus(rs_checklist["CL_ID"].ToString()) == "TEMPORARY_DOWNLOAD")
                                                    {
                                                        <a href="SuratIjin?IDCheckList=@rs_checklist["CL_ID"]" class="col-lg-6">
                                                            <i class="zmdi zmdi-download"></i><span> Download Surat Ijin Sementara</span>
                                                        </a>
                                                    }
                                                    @if (Functions.GetDownloadStatus(rs_checklist["CL_ID"].ToString()) == "INCOMPLETE_DOWNLOAD")
                                                    {
                                                        <!--a href="javascript:showSuratIjin()" class="col-lg-6">
                                                            <i class="zmdi zmdi-edit"></i><span> Lengkapi Data Surat Ijin</span>
                                                        </a-->
                                                        <hr />
                                                        <form>
                                                            <fieldset class="form-group">
                                                                <label>Nomor Surat</label>
                                                                <br />
                                                                <input type="text" class="form-control" id="nomorSurat_@rs_checklist["CL_ID"].ToString()" placeholder="Masukkan nomor surat ijin...">
                                                                <!--small class="text-muted">
                                                                    We'll never share your email with anyone
                                                                    else.
                                                                </small-->
                                                            </fieldset>
                                                            <br />
                                                            <br>
                                                            <fieldset class="form-group">
                                                                <label>Masa Berlaku Surat Ijin</label>
                                                                <br />
                                                                <div class="input-group">
                                                                    <!--div id="datepicker-inline"></div-->
                                                                    <input type="text" class="form-control datepicker-inline" placeholder="Tanggal akhir berlaku surat ijin" id="tglSurat_@rs_checklist["CL_ID"].ToString()">
                                                                    <!--span class="input-group-addon bg-custom b-0"><i class="icon-calender"></i></span-->
                                                                </div>
                                                            </fieldset>
                                                            <br />
                                                            <br>
                                                            <button type="button" class="btn btn-primary" onclick="updateSuratIjin('@rs_checklist["CL_ID"].ToString()')">Simpan</button>
                                                        </form>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function updateSuratIjin(clId) {
        var nomorSurat = $("#nomorSurat_" + clId).val();
        var tglSurat = $("#tglSurat_" + clId).datepicker({ dateFormat: 'yyyy-mm-dd' }).val();
        var arrTgl = tglSurat.split("/");
        var tglSuratYMD = arrTgl[2] + "-" + arrTgl[0] + "-" + arrTgl[1];
        //alert("nomor : " + nomorSurat + "\ntgl : " + tglSuratYMD);
        createOverlay("Proses...");
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=warrant_update&IDCheckList=" + clId + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]') + "&nomor=" + encodeURI(nomorSurat) + "&tgl=" + tglSuratYMD,
            dataType: "json",
            success: function (data) {
                //console.log("STATUS : " + data["STATUS"]);
                //console.log("MESSAGE : " + data["MESSAGE"]);
                gOverlay.hide();
                if (data["STATUS"] == "SUCCESS") {
                    toastr.success(data["MESSAGE"]);
                    setTimeout(function () {
                        //window.location = "Default_";
                        location.reload();
                    }, 1200);
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                gOverlay.hide();
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }

    $('.datepicker-inline').datepicker({ dateFormat: 'yy-mm-dd' }).bind("change", function () {
        //var minValue = $(this).val();
        //minValue = $.datepicker.parseDate("yy-mm-dd", minValue);
        //minValue.setDate(minValue.getDate()+1);
        //$("#to").datepicker( "option", "minDate", minValue );
    });
</script>
