﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;

@{
    string errMsg = "";

    Session.Abandon();
    
    if (IsPost)
    {
        string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;
        SqlConnection conn1 = new SqlConnection(connStr);
        SqlCommand clUsers = new SqlCommand();
        SqlDataReader rs_clUsers;

        clUsers.CommandText = "SELECT * FROM cl_users WHERE U_ID = @uId AND U_PASSWORD = @uPassword";
        clUsers.CommandType = CommandType.Text;
        clUsers.Connection = conn1;
        clUsers.Parameters.AddWithValue("@uId", Request.Form["loginUser"]);
        clUsers.Parameters.AddWithValue("@uPassword", Request.Form["loginPassword"]);

        conn1.Open();

        rs_clUsers = clUsers.ExecuteReader();
        if (rs_clUsers.HasRows)
        {
            rs_clUsers.Read();
            Session["LOGIN_ID"] = rs_clUsers["U_ID"].ToString();
            Session["LOGIN_NAME"] = rs_clUsers["U_NAME"].ToString();
            Session["LOGIN_TOKEN"] = rs_clUsers["U_LOGIN_TOKEN"].ToString();

            Session["PAGE_STATUS"] = "SUCCESS";
            Session["PAGE_MESSAGE"] = "Selamat datang " + rs_clUsers["U_NAME"].ToString();

            rs_clUsers.Close();
            conn1.Close();
            
            Response.Redirect("Default_");
        }
        else
        {
            rs_clUsers.Close();
            conn1.Close();
            errMsg = "Periksa kembali data login Anda";
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="assets/images/logo-pertamina.png" style="width:20px ">
    <!-- App title -->

    <title>Pertamina Check List</title>

        <!-- App CSS -->
        <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="~/assets/js/modernizr.min.js"></script>

</head>
<body>
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="account-bg">
            <div class="card-box m-b-0">
                 <div class="text-xs-center m-t-20">
                        <a href="" class="logo" >
                            <img src="/img/pertamina.png" style="width: 230px;">
                        </a>
                  </div>
                <div class="m-t-30 m-b-20">
                    <div class="col-xs-12 text-xs-center">
                        <h6 class="text-muted text-uppercase m-b-0 m-t-0">Sign In</h6>
                    </div>
                    <form class="form-horizontal m-t-20" method="post">

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="Username" name="loginUser" id="loginUser">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control input1" type="password" required="" placeholder="Password" name="loginPassword" id="loginPassword">
                            </div>
                        </div>

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12">
                                <button class="btn btn-success btn-block waves-effect waves-light" type="button" onclick="login()">Log In</button>
                            </div>
                        </div>

                        <!--div class="form-group m-t-30 m-b-0">
                            <div class="col-sm-12">
                                <a href="pages-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                            </div>
                        </div-->
                    </form>

                </div>
            </div>
        </div>
        <!-- end card-box-->
        <!--
        <div class="m-t-20">
            <div class="text-xs-center">
                <p class="text-white">Don't have an account? <a href="pages-register.html" class="text-white m-l-5"><b>Sign Up</b></a></p>
            </div>
        </div>
        -->
    </div>
    <!-- end wrapper page -->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/tether.min.js"></script><!-- Tether for Bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/plugins/switchery/switchery.min.js"></script>

    <!-- toastr -->
    <script src="~/assets/plugins/toastr/toastr.min.js"></script>
    <link href="~/assets/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css" />

    <!-- iOS Overlay -->
    <script src="~/assets/plugins/overlay/iosOverlay.js"></script>
    <script src="~/assets/plugins/overlay/spin.min.js"></script>
    <link rel="stylesheet" href="~/assets/plugins/overlay/iosOverlay.css">
    <!--script src="~/assets/plugins/overlay/modernizr-2.0.6.min.js"></script-->
    <script type="text/javascript">
        $(".input1").on('keyup', function (e) {
            if (e.keyCode == 13) {
                login();
            }
        });

        function createOverlay(screenText) {
            var target = document.createElement("div");
            document.body.appendChild(target);
            var opts = {
                lines: 13, // The number of lines to draw
                length: 11, // The length of each line
                width: 5, // The line thickness
                radius: 17, // The radius of the inner circle
                corners: 1, // Corner roundness (0..1)
                rotate: 0, // The rotation offset
                color: '#FFF', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false, // Whether to use hardware acceleration
                className: 'spinner', // The CSS class to assign to the spinner
                zIndex: 2e9, // The z-index (defaults to 2000000000)
                top: 'auto', // Top position relative to parent in px
                left: 'auto' // Left position relative to parent in px
            };
            var spinner = new Spinner(opts).spin(target);
            gOverlay = iosOverlay({
                text: screenText,
                /*duration: 2e3,*/
                spinner: spinner
            });
        }

        var gOverlay;
    </script> 

    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <script type="text/javascript">
        var resizefunc = [];
        $(document).ready(function () {
            console.log("document ready");
            $("#loginUser").focus();
        });

        function login() {
            var loginUser = $("#loginUser").val();
            var loginPassword = $("#loginPassword").val();

            //toastr.info("user : " + loginUser);
            createOverlay("Proses...");
            $.ajax({
                type: "POST",
                url: "ServiceLogin",
                data: "id=" + encodeURI(loginUser) + "&pass=" + encodeURI(loginPassword),
                dataType: "json",
                success: function (data) {
                    //console.log("STATUS : " + data["STATUS"]);
                    //console.log("MESSAGE : " + data["MESSAGE"]);
                    gOverlay.hide();
                    if (data["STATUS"] == "SUCCESS") {
                        window.location = "Default_"; //sudah bawa session dari ServiceLogin
                    }
                    else {
                        toastr.error("Periksa kembali data login Anda");
                    }
                },
                error: function (error) {
                    //alert("Error : " + error);
                    gOverlay.hide();
                    for (var k in error) {
                        if (error.hasOwnProperty(k)) {
                            alert("Key is : " + k + ", value is : " + error[k]);
                        }
                    }
                }
            });
        }
    </script>
@{
    if (errMsg != "")
    {
        <script type="text/javascript">
            toastr.error("Periksa kembali data login Anda");
        </script>
    }
}
</body>
</html>