﻿@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Halaman Dashboard";

    if (Session["PAGE_MESSAGE"] != null && Session["PAGE_STATUS"] != null)
    {
        if (Session["PAGE_STATUS"] == "SUCCESS")
        {
            <script type="text/javascript">
                toastr.success('@Session["PAGE_MESSAGE"]');
            </script>
        }
        else if (Session["PAGE_STATUS"] == "ERROR")
        {
            <script type="text/javascript">
                toastr.error('@Session["PAGE_MESSAGE"]');
            </script>
        }
        else
        {
            <script type="text/javascript">
                toastr.info('@Session["PAGE_MESSAGE"]');
            </script>
        }
    }
    Session["PAGE_MESSAGE"] = null;
    Session["PAGE_STATUS"] = null;
}
    <!-- End Navigation Bar-->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="wrapper">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Dashboard</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card-box tilebox-one" style="background-color:#32599C; color:#ffffff">
                        <i class="icon-layers pull-xs-right text-muted" style="color:#ffffff"></i>
                        <h6 class="text-muted text-uppercase m-b-20" style="color:#ffffff; text-align:center">Dalam Proses</h6>
                        <h2 class="m-b-20" style="text-align:center"><span data-plugin="counterup">@Functions.GetJumlahCheckListByStatus("CS_PROGRESS")</span></h2>
                        <!--
                        <span class="label label-success" style="color:#ffffff"> 800 </span> <span class="text-muted" style="color:#ffffff">Dalam Proses</span>
                        //-->
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card-box tilebox-one" style="background-color:#EEB211; color:#ffffff">
                        <i class="icon-layers pull-xs-right text-muted" style="color:#ffffff"></i>
                        <h6 class="text-muted text-uppercase m-b-20" style="color:#ffffff">Menunggu Diketahui</h6>
                        <h2 class="m-b-20" style="text-align:center"><span data-plugin="counterup">@Functions.GetJumlahCheckListByStatus("CS_REQ_ACKNOWLEDGE")</span></h2>
                        <!--
                        <span class="label label-danger" style="color:#ffffff"> 30 </span> <span class="text-muted" style="color:#ffffff">Menunggu Diketahui</span>
                        //-->
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card-box tilebox-one" style="background-color:#1B9680; color:#ffffff">
                        <i class="icon-layers pull-xs-right text-muted" style="color:#ffffff"></i>
                        <h6 class="text-muted text-uppercase m-b-20" style="color:#ffffff; text-align:center">Telah Diketahui</h6>
                        <h2 class="m-b-20" style="text-align:center"><span data-plugin="counterup">@Functions.GetJumlahCheckListByStatus("CS_ACKNOWLEDGED")</span></h2>
                        <!--
                        <span class="label label-default" style="color:#ffffff"> 40 </span> <span class="text-muted" style="color:#ffffff">Diketahui</span>
                        //-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card-box tilebox-one" style="background-color:#DA251C !important; color:#ffffff">
                        <i class="icon-layers pull-xs-right text-muted" style="color:#ffffff"></i>
                        <h6 class="text-muted text-uppercase m-b-20" style="color:#ffffff; text-align:center">Pemeriksaan Ulang</h6>
                        <h2 class="m-b-20" style="text-align:center"><span data-plugin="counterup">@Functions.GetJumlahCheckListByStatus("CS_RECHECK")</span></h2>
                        <!--
                        <span class="label label-warning" style="color:#ffffff"> 10 </span> <span class="text-muted" style="color:#ffffff">Periksa Ulang</span>
                        //-->
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card-box tilebox-one" style="background-color:#2AA6D7; color:#ffffff">
                        <i class="icon-layers pull-xs-right text-muted" style="color:#ffffff"></i>
                        <h6 class="text-muted text-uppercase m-b-20" style="color:#ffffff">Menunggu Persetujuan</h6>
                        <h2 class="m-b-20" style="text-align:center"><span data-plugin="counterup">@Functions.GetJumlahCheckListByStatus("CS_REQ_APPROVAL")</span></h2>
                        <!--
                        <span class="label label-danger" style="color:#ffffff;background-color: #0e7fab;"> 30 </span> <span class="text-muted" style="color:#ffffff">Menunggu Diketahui</span>
                        //-->
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card-box tilebox-one" style="background-color:#85C226; color:#ffffff">
                        <i class="icon-layers pull-xs-right text-muted" style="color:#ffffff"></i>
                        <h6 class="text-muted text-uppercase m-b-20" style="color:#ffffff; text-align:center">Disetujui</h6>
                        <h2 class="m-b-20" style="text-align:center"><span data-plugin="counterup">@Functions.GetJumlahCheckListByStatus("CS_APPROVED")</span></h2>
                        <!--
                        <span class="label label-default" style="color:#ffffff;background-color: #62901a;"> 40 </span> <span class="text-muted" style="color:#ffffff">Diketahui</span>
                        //-->
                    </div>
                </div>
            </div>         
        </div>
    </div>
    <!--
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/waves.js"></script>
    <script src="assets/js/jquery.nicescroll.js"></script>
    <script src="assets/plugins/switchery/switchery.min.js"></script>

    <script src="assets/plugins/jquery-knob/jquery.knob.js"></script>

    <script src="assets/js/jquery.core.js"></script>
    <script src="assets/js/jquery.app.js"></script>
    
    <script src="assets/pages/jquery.chart-widgets.init.js"></script>
    -->
    