﻿@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Detail Data Mobil";

    var IDMobil = "";
    var Pengelola = "";
    var Merk = "";
    var Jenis = "";
    var Tahun = "";
    var Kapasitas = "";
    var Lokasi = "";
    var Tipe = "";
    var Subtipe = "";
    IDMobil = Request.QueryString["IDMobil"];
    //Pengelola = Request.QueryString["Pengelola"];
    var db = Database.Open("PertaminaCheckList");
    var dbCommand = "SELECT * FROM cl_mobil WHERE MBL_ID=@0";
    var row = db.QuerySingle(dbCommand, IDMobil);
            
}

    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="wrapper">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Data Mobil</h4>
                </div>
            </div>
            <div class="card-box">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-6">
                        <h4 class="header-title m-t-0">Detail Data Mobil</h4>
                        <p class="text-muted font-13 m-b-10">
                        </p>
                        <div class="p-20">
                            <form class="form-horizontal " method="post">
                                <input type="hidden" value="@IDMobil" name="IDMobil" />
                                <div class="form-group">
                                    <label>Pengelola Mobil</label>
                                    <input type="text" class="form-control" name="Pengelola" value="@row.MBL_PENGELOLA" disabled/>
                                </div>

                                <div class="form-group">
                                    <label>Merk Mobil</label>
                                    <div>
                                        <input type="text" class="form-control" required
                                               value="@row.MBL_Merk" name="Merk" disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tahun Mobil</label>
                                    <div>
                                        <input type="text" class="form-control" required name="Tahun"
                                               value="@row.MBL_Tahun" disabled />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Jenis Mobil</label>
                                    <div>
                                        <input type="text" class="form-control" required name="Jenis"
                                               parsley-type="text" value="@row.MBL_Jenis" disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Kapasitas Mobil</label>
                                    <div>
                                        <input parsley-type="text" type="text" class="form-control"
                                               required value="@row.MBL_Kapasitas" name="Kapasitas" disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Lokasi Mobil</label>
                                    <div>
                                        <input parsley-type="text" type="text" class="form-control"
                                               required value="@row.MBL_Lokasi" name="Lokasi"disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Type Mobil</label>
                                    <div>
                                        <input parsley-type="text" type="text" class="form-control"
                                               required value="@row.MBL_Tipe" name="Tipe" disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>SubType Mobil</label>
                                    <div>
                                        <input parsley-type="text" type="text" class="form-control"
                                               required value="@row.MBL_Subtipe" name="Subtipe" disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <a href="~/Datamobil.cshtml" type="reset" class="btn btn-primary waves-effect m-l-5">
                                            Back To Index
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer text-right">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12" align="center">
                        2017 © PT.PERTAMINA. All right reserved
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/tether.min.js"></script><!-- Tether for Bootstrap -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waves.js"></script>
<script src="assets/js/jquery.nicescroll.js"></script>
<script src="assets/plugins/switchery/switchery.min.js"></script>

<!--Morris Chart-->
<script src="assets/plugins/morris/morris.min.js"></script>
<script src="assets/plugins/raphael/raphael-min.js"></script>

<!-- Counter Up  -->
<script src="assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
<script src="assets/plugins/counterup/jquery.counterup.min.js"></script>

<!--Chartist Chart-->
<script src="assets/plugins/chartist/dist/chartist.min.js"></script>
<script src="assets/plugins/chartist/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Knob -->
<script src="assets/plugins/jquery-knob/jquery.knob.js"></script>

<!-- App js -->
<script src="assets/js/jquery.core.js"></script>
<script src="assets/js/jquery.app.js"></script>



