﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Data Pemeriksaan HSE Mobil Barang";

    string IDCheckList = "";
    string verify = "0";
    string final = "0";

    if (string.IsNullOrWhiteSpace(Request["IDCheckList"]))
    {
        Response.Redirect("Default_");
    }

    if (!string.IsNullOrWhiteSpace(Request["verify"]))
    {
        verify = Request["verify"];
        if (verify == "1")
        {
            Page.Title = "Verifikasi Pemeriksaan Mobil Barang HSE";
        }
    }

    if (!string.IsNullOrWhiteSpace(Request["final"]))
    {
        final = Request["final"];
        if (final == "1")
        {
            Page.Title = "Verifikasi Persetujuan O.H Mobil Barang HSE";
        }
    }

    IDCheckList = Request["IDCheckList"];

    string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;
    SqlConnection conn1 = new SqlConnection(connStr);
    conn1.Open();

    SqlCommand mobil = new SqlCommand();
    mobil.CommandType = CommandType.Text;
    mobil.Connection = conn1;
    mobil.CommandText = "SELECT A.*,B.CL_KRITERIA_PERIKSA,B.CL_TGL_MULAI,B.CL_TGL_STATUS,C.* FROM cl_checklist_request AS A INNER JOIN cl_checklist AS B ON A.CR_ID = B.CR_ID INNER JOIN cl_mobil AS C ON A.MBL_ID = C.MBL_ID WHERE B.CL_ID = @0";
    mobil.Parameters.AddWithValue("@0", IDCheckList);
    SqlDataReader rs_mobil = mobil.ExecuteReader();
    if (!rs_mobil.HasRows)
    {
        Response.Redirect("Default_");
    }
    rs_mobil.Read();

    //mengetahui
    SqlConnection conn2 = new SqlConnection(connStr);
    conn2.Open();
    SqlCommand clMengetahui = new SqlCommand();
    clMengetahui.CommandType = CommandType.Text;
    clMengetahui.Connection = conn2;
    clMengetahui.CommandText = "SELECT A.*,B.U_NAME FROM cl_checklist_signing AS A INNER JOIN cl_users AS B ON A.CS_APPROVAL_U_ID = B.U_ID WHERE A.CL_ID = @clId AND A.CS_APPROVAL_TYPE = 'AT_MENGETAHUI'";
    clMengetahui.Parameters.AddWithValue("@clId", Request["IDCheckList"]);
    SqlDataReader rs_clMengetahui = clMengetahui.ExecuteReader();

    //menyetujui
    SqlConnection conn3 = new SqlConnection(connStr);
    conn3.Open();
    SqlCommand clMenyetujui = new SqlCommand();
    clMenyetujui.CommandType = CommandType.Text;
    clMenyetujui.Connection = conn3;
    clMenyetujui.CommandText = "SELECT A.*,B.U_NAME FROM cl_checklist_signing AS A INNER JOIN cl_users AS B ON A.CS_APPROVAL_U_ID = B.U_ID WHERE A.CL_ID = @clId AND A.CS_APPROVAL_TYPE = 'AT_MENYETUJUI'";
    clMenyetujui.Parameters.AddWithValue("@clId", Request["IDCheckList"]);
    SqlDataReader rs_clMenyetujui = clMenyetujui.ExecuteReader();
}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Detail HSE Mobil Barang</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">
                    <center><h4 class="m-t-0 header-title"><b>LAPORAN PEMERIKSAAN ALAT KERJA/KENDARAAN </b></h4></center>
                    <!--center><h4 class="m-t-0 header-title"><b>MOBIL TANGKI LPG SKID TANK TBBM BANDUNG GROUP-PADALARANG </b></h4></center-->
                    
                    <br>
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xs-6">
                        <table cellpadding="10" border="0" cellspacing="10">
                            <tr>
                                <td>Nomor Polisi</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td><b>@rs_mobil["MBL_ID"].ToString()</b></td>
                                <td width="500px"></td>
                                <td>Merk Mobil/Tahun</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_MERK"].ToString()</td>
                            </tr>
                            <tr>
                                <td>Pengelola/Transportir/Agen</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_PENGELOLA"].ToString()</td>
                                <td width="500px"></td>
                                <td>Jenis Produk</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_JENIS"].ToString()</td>
                            </tr>
                            <tr>
                                <td>Pemeriksaan Terakhir tgl.</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["CR_WAKTU"].ToString()</td>
                                <td width="500px"></td>
                                <td>Kapasitas</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_KAPASITAS"]</td>
                            </tr>
                            <tr>
                                <td>Pemeriksaan Tgl.</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["CL_TGL_MULAI"].ToString()</td>
                                <td width="500px"></td>
                                <td>Lokasi</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_LOKASI"].ToString()</td>
                            </tr>
                        </table>
                        <hr />
                    </div>
                    <h6 class="panel-heading" align="center">HASIL PEMERIKSAAN</h6>
                    <br>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Jenis Pemeriksaan</th>
                                <th style="text-align:center">Ada Baik</th>
                                <th style="text-align:center">Ada Rusak</th>
                                <th style="text-align:center">Tidak Ada</th>
                                <th style="text-align:center">Keterangan</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td colspan="6"><b>A. Alat Kerja</b></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Stater/Switch On/Off</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "55") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "55") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "55") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "55") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "55") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "55");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "55")
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Manometer tekanan</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "56") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "56") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "56") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "56") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "56") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "56");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "56")
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Manometer suhu</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "57") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "57") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "57") == "U")
                                        {
                                            <i class="fa fa-remove"></i>

                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "57") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "57") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "57");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "57")
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Tangki minyak</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "58") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "58") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "58") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "58") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "58") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "58");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "58")
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Pipa saluran minyak</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "59") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "59") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "59") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "59") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "59") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "59");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "59")
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Selang injection pump</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "60") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "60") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "60") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "60") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "60") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "60");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "60")
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Kebersihan alat</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "61") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "61") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "61") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "61") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "61") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "61");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "61")
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Kabel-kabel/tusuk kontak</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "62") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "62") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "62") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "62") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "62") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "62");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "62")
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Arde/Pentanahan</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "63") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>

                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "63") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "63") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "63") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "63") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "63");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "63")
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Pelindung V. Belt/ batu gerinda</td>
                                <<td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "64") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "64") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "64") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "64") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "64") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "64");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "64")
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Terminal Kabel Las/ Battery</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "65") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>

                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "65") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "65") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "65") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "65") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "65");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "65")
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Slang acetylene</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "66") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "66") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "66") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "66") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "66") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "66");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "66")
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Flame arrester</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "67") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>

                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "67") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "67") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "67") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "67") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "67");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "67")
                                </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>Alat Pemadam Api Ringan (APAR)</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "68") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "68") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "68") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "68") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "68") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "68");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "68")
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6"><b>B.Kendaraan</b></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Safety Swicth</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "69") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "69") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "69") == "U")
                                        {
                                            <i class="fa fa-remove"></i>

                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "69") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "69") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "69");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "69")
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Rem tangan &amp; kaki</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "70") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "70") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "70") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "70") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "70") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "70");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "70")
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Roda ban<br/>
                                  - Ban depan kondisi baik dan tidak vulkanisir<br />
                                  - Ban belakang kondisi baik (Vulkanisir Maks. 2 buah)
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "71") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "71") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "71") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "71") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "71") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "71");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "71")
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Lampu-lampu (Jauh/Dekat/Righting/Rem/Mundur/Peringatan)</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "72") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "72") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "72") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "72") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "72") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "72");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "72")
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Knalpot tidak bocor &amp; tersedia flame trap</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "73") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "73") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "73") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "73") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "73") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "73");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "73")
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Kabel-kabel (semua kabel terisolasi, zekring asli)</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "74") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "74") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "74") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "74") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "74") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "74");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "74")
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Pipa Saluran BBM tidak bocor</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "75") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "75") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "75") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "75") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "75") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "75");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "75")
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Kondisi Accu</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "76") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "76") == "N")
                                        {
                                            <i class="fa fa-remove"></i>

                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "76") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "76") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "76") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "76");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "76")
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Alat Pemadam Ringan (APAR)</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "77") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "77") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "77") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "77") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "77") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "77");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "77")
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Bak pengangkut<br />
                                    - Ada logo Pertamina, LPG, Nama PT
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "78") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "78") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "78") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "78") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "78") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "78");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "78")
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>
                                    Rambu-rambu<br /><br />
                                    - Dilarang merokok, menumpang, gas mudah terbakar<br/>
                                    - Kecepatan maks. di samping belakang body
                                </td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "79") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "79") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "79") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "79") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "79") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "79");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "79")
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Alat kemudi (olah gerak max 60˚)</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "80") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "80") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "80") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "80") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "80") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "80");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "80")
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Kotak P3K (isi sesuai Permenaker No.15 Th 2008)</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "81") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "81") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "81") == "U")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "81") == "N" || Functions.GetCheckListGroupValue(IDCheckList, "81") == "U")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "81");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "81")
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table border="0" cellpadding="100" cellspacing="100" id="tblMengetahui" style="width:100%;display:none;">
                        <tr height="50">
                            <td colspan="3">Diperiksa Oleh :</td>
                        </tr>
                        <tr height="50">
                            <!--td width="33.3%">Pemeriksa Kelengkapan Safety<br />OS.HSE</td-->
                            <td id="divHSE_1" style="display:none;">HSE TBBM Bandung Group</td>
                            <td id="divQQ_1" style="display:none;">QQ TBBM Bandung Group</td>
                            <td id="divDistribusi_1" style="display:none;">Distribusi TBBM Bandung Group</td>
                        </tr>
                        <tr height="50">
                            <!--td><button type="button" class="btn btn-danger waves-effect waves-light">OK</button></td-->
                            <td id="divHSE_2" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Mengetahui HSE</button></td>
                            <td id="divQQ_2" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Mengetahui QQ</button></td>
                            <td id="divDistribusi_2" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Mengetahui Distribusi</button></td>
                        </tr>
                    </table>
                    <br />
                    <table border="0" cellpadding="100" cellspacing="100" id="tblRecheck" style="width:100%;display:none;">
                        <tr height="50">
                            <td><button type="button" class="btn btn-dropbox waves-effect waves-light" onclick="redoCheckList()">Periksa Ulang</button></td>
                        </tr>
                    </table>
                    <br />
                    <table border="0" cellpadding="100" cellspacing="100" id="tblMenyetujui" style="width:100%;display:none;">
                        <tr height="50">
                            <td colspan="3">Disetujui Oleh :</td>
                        </tr>
                        <tr height="50">
                            <!--td width="33.3%">Pemeriksa Kelengkapan Safety<br />OS.HSE</td-->
                            <td id="divHSE_3" style="display:none;">HSE TBBM Bandung Group</td>
                            <td id="divQQ_3" style="display:none;">QQ TBBM Bandung Group</td>
                            <td id="divDistribusi_3" style="display:none;">Distribusi TBBM Bandung Group</td>
                            <td id="divOH_3" style="display:none;">Operation Head TBBM Bandung Group</td>
                        </tr>
                        <tr height="50">
                            <!--td><button type="button" class="btn btn-danger waves-effect waves-light">OK</button></td-->
                            <td id="divHSE_4" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Disetujui HSE</button></td>
                            <td id="divQQ_4" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Disetujui QQ</button></td>
                            <td id="divDistribusi_4" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Disetujui Distribusi</button></td>
                            <td id="divOH_4" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Disetujui Operation Head</button></td>
                        </tr>
                    </table>
                    <!-- list mengetahui -->
                    <div class="row">
                        @{
                            if (rs_clMengetahui.HasRows)
                            {
                                while (rs_clMengetahui.Read())
                                {
                                    <div class="col-xs-12 col-md-4 col-lg-3 col-xl-3">
                                        <div class="card-box tilebox-one" style="background-color:#1B9680; color:#ffffff">
                                            <i class="fa fa-check-circle pull-xs-right text-muted" style="color:#ffffff"></i>
                                            <h6 class="text-muted text-uppercase m-b-20" style="color:#ffffff">MENGETAHUI</h6>
                                            <h6 class="m-b-20" style="text-align:center"><span>@rs_clMengetahui["U_NAME"].ToString()</span></h6>
                                            <span class="label label-danger" style="color:#ffffff"> @Functions.GetReferenceInfo("APPROVAL_ROLE", rs_clMengetahui["CS_APPROVAL_ROLE"].ToString()) </span>
                                            <div class="text-muted" style="color:#ffffff;font-size:smaller">@rs_clMengetahui["CS_APPROVAL_WAKTU"].ToString()</div>
                                        </div>
                                    </div>
                                }
                            }
                            rs_clMengetahui.Close();
                        }
                    </div>

                    <!-- list menyetujui -->
                    <div class="row">
                        @{
                            if (rs_clMenyetujui.HasRows)
                            {
                                while (rs_clMenyetujui.Read())
                                {
                                    <div class="col-xs-12 col-md-4 col-lg-3 col-xl-3">
                                        <div class="card-box tilebox-one" style="background-color:#85C226; color:#ffffff">
                                            <i class="fa fa-check-circle pull-xs-right text-muted" style="color:#ffffff"></i>
                                            <h6 class="text-muted text-uppercase m-b-20" style="color:#ffffff">MENYETUJUI</h6>
                                            <h6 class="m-b-20" style="text-align:center"><span>@rs_clMenyetujui["U_NAME"].ToString()</span></h6>
                                            <span class="label label-danger" style="color:#ffffff"> @Functions.GetReferenceInfo("APPROVAL_ROLE", rs_clMenyetujui["CS_APPROVAL_ROLE"].ToString()) </span>
                                            <div class="text-muted" style="color:#ffffff;font-size:smaller">@rs_clMenyetujui["CS_APPROVAL_WAKTU"].ToString()</div>
                                        </div>
                                    </div>
                                }
                            }
                            rs_clMenyetujui.Close();
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    conn1.Close();
    conn2.Close();
    conn3.Close();
}

<script type="text/javascript">
    var gApprovalRole = "";
    //masih bermasalah di web service
    function getSignings(approvalType) {
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=checklist_signing&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]') + "&ApprovalType=" + approvalType,
            dataType: "json",
            success: function (data) {
                if (data["STATUS"] == "SUCCESS") {
                    toastr.success(data["MESSAGE"]);
                    console.log(data["PAYLOAD"]);
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }
    //getSignings("AT_MENGETAHUI");
    //getSignings("AT_MENYETUJUI");

    function checkUserSigningRole() {
        createOverlay("Cek wewenang...");
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=check_user_signing_role&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]'),
            dataType: "json",
            success: function (data) {
                //console.log("STATUS : " + data["STATUS"]);
                //console.log("MESSAGE : " + data["MESSAGE"]);
                gOverlay.hide();
                if (data["STATUS"] == "SUCCESS") {
                    toastr.success(data["MESSAGE"]);
                    gApprovalRole = data["PAYLOAD_1"];
                    if (data["PAYLOAD"] == "CS_REQ_ACKNOWLEDGE") {
                        document.getElementById("tblMengetahui").style.display = "block";
                        if (data["PAYLOAD_1"] == "AR_HSE") {
                            document.getElementById("divHSE_1").style.display = "block";
                            document.getElementById("divHSE_2").style.display = "block";
                        }
                        if (data["PAYLOAD_1"] == "AR_QQ") {
                            document.getElementById("divQQ_1").style.display = "block";
                            document.getElementById("divQQ_2").style.display = "block";
                        }
                        if (data["PAYLOAD_1"] == "AR_DISTRIBUSI") {
                            document.getElementById("divDistribusi_1").style.display = "block";
                            document.getElementById("divDistribusi_2").style.display = "block";
                        }
                    }
                    if (data["PAYLOAD"] == "CS_REQ_APPROVAL") {
                        document.getElementById("tblMenyetujui").style.display = "block";
                        if (data["PAYLOAD_1"] == "AR_HSE") {
                            document.getElementById("divHSE_3").style.display = "block";
                            document.getElementById("divHSE_4").style.display = "block";
                        }
                        if (data["PAYLOAD_1"] == "AR_QQ") {
                            document.getElementById("divQQ_3").style.display = "block";
                            document.getElementById("divQQ_4").style.display = "block";
                        }
                        if (data["PAYLOAD_1"] == "AR_DISTRIBUSI") {
                            document.getElementById("divDistribusi_3").style.display = "block";
                            document.getElementById("divDistribusi_4").style.display = "block";
                        }
                    }
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                gOverlay.hide();
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }
    //
    function checkFinalSigningRole() {
        //createOverlay("Cek wewenang O.H...");
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=check_final_signing_role&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]'),
            dataType: "json",
            success: function (data) {
                //gOverlay.hide();
                if (data["STATUS"] == "SUCCESS") {
                    toastr.success(data["MESSAGE"]);
                    gApprovalRole = data["PAYLOAD_1"];
                    console.log("gApprovalRole : " + gApprovalRole);
                    if (data["PAYLOAD"] == "CS_REQ_APPROVAL") {
                        document.getElementById("tblMenyetujui").style.display = "block";
                        if (data["PAYLOAD_1"] == "AR_OH") {
                            document.getElementById("divOH_3").style.display = "block";
                            document.getElementById("divOH_4").style.display = "block";
                        }
                    }
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                //gOverlay.hide();
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }

    function getCheckListStatus() {
        //createOverlay("Cek status...");
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=check_status&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]'),
            dataType: "json",
            success: function (data) {
                //console.log("STATUS : " + data["STATUS"]);
                //console.log("MESSAGE : " + data["MESSAGE"]);
                //gOverlay.hide();
                if (data["STATUS"] == "SUCCESS") {
                    //toastr.success(data["MESSAGE"]);
                    if (data["PAYLOAD"] == "CS_ACKNOWLEDGED") {
                        document.getElementById("tblRecheck").style.display = "block";
                    }
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                //gOverlay.hide();
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }

    function acknowledgeCheckList() {
        if (gApprovalRole != "") {
            var reply = confirm("Konfirmasi telah mengetahui/menyetujui hasil pemeriksaan");
            if (reply == true) {
                createOverlay("Proses...");
                $.ajax({
                    type: "POST",
                    url: "ServiceCheckList",
                    data: "act=acknowledge&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]') + "&ApprovalRole=" + gApprovalRole,
                    dataType: "json",
                    success: function (data) {
                        //console.log("STATUS : " + data["STATUS"]);
                        //console.log("MESSAGE : " + data["MESSAGE"]);
                        gOverlay.hide();
                        if (data["STATUS"] == "SUCCESS") {
                            toastr.success(data["MESSAGE"]);
                            setTimeout(function () {
                                window.location = "Default_";
                            }, 1200);
                        }
                        else {
                            toastr.error(data["MESSAGE"]);
                        }
                    },
                    error: function (error) {
                        //alert("Error : " + error);
                        gOverlay.hide();
                        for (var k in error) {
                            if (error.hasOwnProperty(k)) {
                                alert("Key is : " + k + ", value is : " + error[k]);
                            }
                        }
                    }
                });
            }
        }
        else {
            alert("Parameter tidak lengkap. Silahkan refresh halaman.");
        }
    }

    function redoCheckList() {
        var reply = confirm("Konfirmasi pemeriksaan ulang");
        if (reply == true) {
            createOverlay("Proses...");
            $.ajax({
                type: "POST",
                url: "ServiceCheckList",
                data: "act=recheck&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]'),
                dataType: "json",
                success: function (data) {
                    //console.log("STATUS : " + data["STATUS"]);
                    //console.log("MESSAGE : " + data["MESSAGE"]);
                    gOverlay.hide();
                    if (data["STATUS"] == "SUCCESS") {
                        toastr.success(data["MESSAGE"]);
                        setTimeout(function () {
                            window.location = "Default_";
                        }, 1200);
                    }
                    else {
                        toastr.error(data["MESSAGE"]);
                    }
                },
                error: function (error) {
                    //alert("Error : " + error);
                    gOverlay.hide();
                    for (var k in error) {
                        if (error.hasOwnProperty(k)) {
                            alert("Key is : " + k + ", value is : " + error[k]);
                        }
                    }
                }
            });
        }
    }

    function openAttachment(attPath) {
        var win = window.open(attPath, '_blank');
        win.focus();
    }
</script>

@{
    if (verify == "1")
    {
        <script type="text/javascript">
            checkUserSigningRole();
        </script>
    }
    else
    {
        <script type="text/javascript">
            getCheckListStatus();
        </script>
    }

    if (final == "1")
    {
        <script type="text/javascript">
            checkFinalSigningRole();
        </script>
    }
}