﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Data Pemeriksaan QQ BBM";

    string IDCheckList = "";
    string verify = "0";
    string final = "0";

    if (string.IsNullOrWhiteSpace(Request["IDCheckList"]))
    {
        Response.Redirect("Default_");
    }

    if (!string.IsNullOrWhiteSpace(Request["verify"]))
    {
        verify = Request["verify"];
        if (verify == "1")
        {
            Page.Title = "Verifikasi Pemeriksaan BBM QQ";
        }
    }

    if (!string.IsNullOrWhiteSpace(Request["final"]))
    {
        final = Request["final"];
        if (final == "1")
        {
            Page.Title = "Verifikasi Persetujuan O.H BBM QQ";
        }
    }

    IDCheckList = Request["IDCheckList"];

    string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;
    SqlConnection conn1 = new SqlConnection(connStr);
    conn1.Open();

    SqlCommand mobil = new SqlCommand();
    mobil.CommandType = CommandType.Text;
    mobil.Connection = conn1;
    mobil.CommandText = "SELECT A.*,B.CL_KRITERIA_PERIKSA,B.CL_TGL_MULAI,B.CL_TGL_STATUS,C.* FROM cl_checklist_request AS A INNER JOIN cl_checklist AS B ON A.CR_ID = B.CR_ID INNER JOIN cl_mobil AS C ON A.MBL_ID = C.MBL_ID WHERE B.CL_ID = @0";
    mobil.Parameters.AddWithValue("@0", IDCheckList);
    SqlDataReader rs_mobil = mobil.ExecuteReader();
    if (!rs_mobil.HasRows)
    {
        Response.Redirect("Default_");
    }
    rs_mobil.Read();

    //mengetahui
    SqlConnection conn2 = new SqlConnection(connStr);
    conn2.Open();
    SqlCommand clMengetahui = new SqlCommand();
    clMengetahui.CommandType = CommandType.Text;
    clMengetahui.Connection = conn2;
    clMengetahui.CommandText = "SELECT A.*,B.U_NAME FROM cl_checklist_signing AS A INNER JOIN cl_users AS B ON A.CS_APPROVAL_U_ID = B.U_ID WHERE A.CL_ID = @clId AND A.CS_APPROVAL_TYPE = 'AT_MENGETAHUI'";
    clMengetahui.Parameters.AddWithValue("@clId", Request["IDCheckList"]);
    SqlDataReader rs_clMengetahui = clMengetahui.ExecuteReader();

    //menyetujui
    SqlConnection conn3 = new SqlConnection(connStr);
    conn3.Open();
    SqlCommand clMenyetujui = new SqlCommand();
    clMenyetujui.CommandType = CommandType.Text;
    clMenyetujui.Connection = conn3;
    clMenyetujui.CommandText = "SELECT A.*,B.U_NAME FROM cl_checklist_signing AS A INNER JOIN cl_users AS B ON A.CS_APPROVAL_U_ID = B.U_ID WHERE A.CL_ID = @clId AND A.CS_APPROVAL_TYPE = 'AT_MENYETUJUI'";
    clMenyetujui.Parameters.AddWithValue("@clId", Request["IDCheckList"]);
    SqlDataReader rs_clMenyetujui = clMenyetujui.ExecuteReader();
}
}


<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Detil QQ</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">
                    <center><h4 class="m-t-0 header-title"><b>KETENTUAN MOBIL TANGKI</b></h4></center>
                    <center><h4 class="m-t-0 header-title"><b>(ASPEK KUANTITAS, KUALITAS DAN BRANDING)</b></h4></center>
                    <br>
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xs-6">
                        <table cellpadding="10" border="0" cellspacing="10">
                            <tr>
                                <td>Nomor Polisi</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td><b>@rs_mobil["MBL_ID"].ToString()</b></td>
                                <td width="500px"></td>
                                <td>Merk Mobil/Tahun</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_MERK"].ToString()</td>
                            </tr>
                            <tr>
                                <td>Pengelola/Transportir/Agen</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_PENGELOLA"].ToString()</td>
                                <td width="500px"></td>
                                <td>Jenis Produk</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_JENIS"].ToString()</td>
                            </tr>
                            <tr>
                                <td>Pemeriksaan Terakhir tgl.</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["CR_WAKTU"].ToString()</td>
                                <td width="500px"></td>
                                <td>Kapasitas</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_KAPASITAS"]</td>
                            </tr>
                            <tr>
                                <td>Pemeriksaan Tgl.</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["CL_TGL_MULAI"].ToString()</td>
                                <td width="500px"></td>
                                <td>Lokasi</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_LOKASI"].ToString()</td>
                            </tr>
                        </table>
                        <hr />
                    </div>
                    <!--
                    <button type="button" class="btn btn-success btn-rounded waves-effect waves-light"><i class="fa fa-download" id="btnDownload" style="display:none"></i> Download</button>
                    <hr />
                    //-->
                    <br />
                    <br>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <td>No.</td>
                                <th>Item Pemeriksaan</th>
                                <th>Penjelasan</th>
                                <th style="text-align:center;">Baik</th>
                                <th style="text-align:center;">Tidak</th>
                                <th style="text-align:center;">Keterangan</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    Ruang Kosong
                                    <br />
                                    <table>
                                        <tr>
                                            <td rowspan="5" style="border:100px;">
                                                T2
                                            </td>
                                            <td>a. Sertifikat</td>
                                        </tr>
                                        <tr>
                                            <td>b. Cek Fisik</td>
                                        </tr>
                                        <tr>
                                            <td>c. Selisih</td>
                                        </tr>
                                        <tr>
                                            <td>d. Kepekaan</td>
                                        </tr>
                                        <tr>
                                            <td>e. Selisih</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>Komp I(mm)</td>
                                            <td>Komp II(mm)</td>
                                            <td>Komp III(mm)</td>
                                            <td>Komp IV(mm)</td>
                                        </tr>
                                        <tr>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1a_1")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1a_2")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1a_3")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1a_4")</td>
                                        </tr>
                                        <tr>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1b_1")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1b_2")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1b_3")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1b_4")</td>
                                        </tr>
                                        <tr>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1c_1")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1c_2")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1c_3")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1c_4")</td>
                                        </tr>
                                        <tr>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1d_1")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1d_2")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1d_3")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1d_4")</td>
                                        </tr>
                                        <tr>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1e_1")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1e_2")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1e_3")</td>
                                            <td>@Functions.GetCheckListDetailValue(IDCheckList, "MT_QQ_1e_4")</td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "1") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "1") == "N")
                                        {
                                           <i class="fa fa-remove"></i>
                                        }
                                    }              
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "1") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "1");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "1")
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Logo Pertamina</td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "2") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "2") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "2") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "2");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "2")
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Cat dan Tulisan</td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "3") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>

                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "3") == "N")
                                        {
                                            <i class="fa fa-remove"></i>

                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "3") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "3");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "3")
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Kondisi Tangki</td>
                                <td>
                                    <!--
                                    <table border="1">
                                        <tr>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                        </tr>        
                                        <tr>
                                            <td rowspan="2">
                                                Tangga
                                            </td>
                                            <td>
                                                <table border="1">
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td></td>
                                        </tr>    
                                        <tr>
                                            <td rowspan="3">Segel Tera</td>
                                            <td>
                                                
                                            </td>
                                        </tr>                       
                                    </table>
                                    //-->
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "4") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "4") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "4") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "4");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "4")
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><i>Bottom Loader</i></td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "5") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "5") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "5") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "5");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "5")
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Lubang Segel</td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "6") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "6") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "6") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "6");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "6")
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Venting Tangki</td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "7") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "7") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "7") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "7");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "7")
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Kekedapan Air</td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "8") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "8") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "8") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "8");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "8")
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Program Selisih Kurang</td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "9") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "9") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "9") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "9");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "9")
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table border="0" cellpadding="100" cellspacing="100" id="tblMengetahui" style="width:100%;display:none;">
                        <tr height="50">
                            <td colspan="3">Diperiksa Oleh :</td>
                        </tr>
                        <tr height="50">
                            <!--td width="33.3%">Pemeriksa Kelengkapan Safety<br />OS.HSE</td-->
                            <td id="divHSE_1" style="display:none;">HSE TBBM Bandung Group</td>
                            <td id="divQQ_1" style="display:none;">QQ TBBM Bandung Group</td>
                            <td id="divDistribusi_1" style="display:none;">Distribusi TBBM Bandung Group</td>
                        </tr>
                        <tr height="50">
                            <!--td><button type="button" class="btn btn-danger waves-effect waves-light">OK</button></td-->
                            <td id="divHSE_2" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Mengetahui HSE</button></td>
                            <td id="divQQ_2" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Mengetahui QQ</button></td>
                            <td id="divDistribusi_2" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Mengetahui Distribusi</button></td>
                        </tr>
                    </table>
                    <br />
                    <table border="0" cellpadding="100" cellspacing="100" id="tblRecheck" style="width:100%;display:none;">
                        <tr height="50">
                            <td><button type="button" class="btn btn-dropbox waves-effect waves-light" onclick="redoCheckList()">Periksa Ulang</button></td>
                        </tr>
                    </table>
                    <br />
                    <table border="0" cellpadding="100" cellspacing="100" id="tblMenyetujui" style="width:100%;display:none;">
                        <tr height="50">
                            <td colspan="3">Disetujui Oleh :</td>
                        </tr>
                        <tr height="50">
                            <!--td width="33.3%">Pemeriksa Kelengkapan Safety<br />OS.HSE</td-->
                            <td id="divHSE_3" style="display:none;">HSE TBBM Bandung Group</td>
                            <td id="divQQ_3" style="display:none;">QQ TBBM Bandung Group</td>
                            <td id="divDistribusi_3" style="display:none;">Distribusi TBBM Bandung Group</td>
                            <td id="divOH_3" style="display:none;">Operation Head TBBM Bandung Group</td>
                        </tr>
                        <tr height="50">
                            <!--td><button type="button" class="btn btn-danger waves-effect waves-light">OK</button></td-->
                            <td id="divHSE_4" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Disetujui HSE</button></td>
                            <td id="divQQ_4" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Disetujui QQ</button></td>
                            <td id="divDistribusi_4" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Disetujui Distribusi</button></td>
                            <td id="divOH_4" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Disetujui Operation Head</button></td>
                        </tr>
                    </table>
                    <!-- list mengetahui -->
                    <div class="row">
                        @{
                            if (rs_clMengetahui.HasRows)
                            {
                                while (rs_clMengetahui.Read())
                                {
                                    <div class="col-xs-12 col-md-4 col-lg-3 col-xl-3">
                                        <div class="card-box tilebox-one" style="background-color:#1B9680; color:#ffffff">
                                            <i class="fa fa-check-circle pull-xs-right text-muted" style="color:#ffffff"></i>
                                            <h6 class="text-muted text-uppercase m-b-20" style="color:#ffffff">MENGETAHUI</h6>
                                            <h6 class="m-b-20" style="text-align:center"><span>@rs_clMengetahui["U_NAME"].ToString()</span></h6>
                                            <span class="label label-danger" style="color:#ffffff"> @Functions.GetReferenceInfo("APPROVAL_ROLE", rs_clMengetahui["CS_APPROVAL_ROLE"].ToString()) </span>
                                            <div class="text-muted" style="color:#ffffff;font-size:smaller">@rs_clMengetahui["CS_APPROVAL_WAKTU"].ToString()</div>
                                        </div>
                                    </div>
                                }
                            }
                            rs_clMengetahui.Close();
                        }
                    </div>

                    <!-- list menyetujui -->
                    <div class="row">
                        @{
                            if (rs_clMenyetujui.HasRows)
                            {
                                while (rs_clMenyetujui.Read())
                                {
                                    <div class="col-xs-12 col-md-4 col-lg-3 col-xl-3">
                                        <div class="card-box tilebox-one" style="background-color:#85C226; color:#ffffff">
                                            <i class="fa fa-check-circle pull-xs-right text-muted" style="color:#ffffff"></i>
                                            <h6 class="text-muted text-uppercase m-b-20" style="color:#ffffff">MENYETUJUI</h6>
                                            <h6 class="m-b-20" style="text-align:center"><span>@rs_clMenyetujui["U_NAME"].ToString()</span></h6>
                                            <span class="label label-danger" style="color:#ffffff"> @Functions.GetReferenceInfo("APPROVAL_ROLE", rs_clMenyetujui["CS_APPROVAL_ROLE"].ToString()) </span>
                                            <div class="text-muted" style="color:#ffffff;font-size:smaller">@rs_clMenyetujui["CS_APPROVAL_WAKTU"].ToString()</div>
                                        </div>
                                    </div>
                                }
                            }
                            rs_clMenyetujui.Close();
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    conn1.Close();
    conn2.Close();
    conn3.Close();
}

<script type="text/javascript">
    var gApprovalRole = "";
    //masih bermasalah di web service
    function getSignings(approvalType) {
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=checklist_signing&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]') + "&ApprovalType=" + approvalType,
            dataType: "json",
            success: function (data) {
                if (data["STATUS"] == "SUCCESS") {
                    toastr.success(data["MESSAGE"]);
                    console.log(data["PAYLOAD"]);
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }
    //getSignings("AT_MENGETAHUI");
    //getSignings("AT_MENYETUJUI");

    function checkUserSigningRole() {
        createOverlay("Cek wewenang...");
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=check_user_signing_role&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]'),
            dataType: "json",
            success: function (data) {
                //console.log("STATUS : " + data["STATUS"]);
                //console.log("MESSAGE : " + data["MESSAGE"]);
                gOverlay.hide();
                if (data["STATUS"] == "SUCCESS") {
                    toastr.success(data["MESSAGE"]);
                    gApprovalRole = data["PAYLOAD_1"];
                    if (data["PAYLOAD"] == "CS_REQ_ACKNOWLEDGE") {
                        document.getElementById("tblMengetahui").style.display = "block";
                        if (data["PAYLOAD_1"] == "AR_HSE") {
                            document.getElementById("divHSE_1").style.display = "block";
                            document.getElementById("divHSE_2").style.display = "block";
                        }
                        if (data["PAYLOAD_1"] == "AR_QQ") {
                            document.getElementById("divQQ_1").style.display = "block";
                            document.getElementById("divQQ_2").style.display = "block";
                        }
                        if (data["PAYLOAD_1"] == "AR_DISTRIBUSI") {
                            document.getElementById("divDistribusi_1").style.display = "block";
                            document.getElementById("divDistribusi_2").style.display = "block";
                        }
                    }
                    if (data["PAYLOAD"] == "CS_REQ_APPROVAL") {
                        document.getElementById("tblMenyetujui").style.display = "block";
                        if (data["PAYLOAD_1"] == "AR_HSE") {
                            document.getElementById("divHSE_3").style.display = "block";
                            document.getElementById("divHSE_4").style.display = "block";
                        }
                        if (data["PAYLOAD_1"] == "AR_QQ") {
                            document.getElementById("divQQ_3").style.display = "block";
                            document.getElementById("divQQ_4").style.display = "block";
                        }
                        if (data["PAYLOAD_1"] == "AR_DISTRIBUSI") {
                            document.getElementById("divDistribusi_3").style.display = "block";
                            document.getElementById("divDistribusi_4").style.display = "block";
                        }
                    }
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                gOverlay.hide();
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }
    //
    function checkFinalSigningRole() {
        //createOverlay("Cek wewenang O.H...");
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=check_final_signing_role&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]'),
            dataType: "json",
            success: function (data) {
                //gOverlay.hide();
                if (data["STATUS"] == "SUCCESS") {
                    toastr.success(data["MESSAGE"]);
                    gApprovalRole = data["PAYLOAD_1"];
                    console.log("gApprovalRole : " + gApprovalRole);
                    if (data["PAYLOAD"] == "CS_REQ_APPROVAL") {
                        document.getElementById("tblMenyetujui").style.display = "block";
                        if (data["PAYLOAD_1"] == "AR_OH") {
                            document.getElementById("divOH_3").style.display = "block";
                            document.getElementById("divOH_4").style.display = "block";
                        }
                    }
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                //gOverlay.hide();
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }

    function getCheckListStatus() {
        //createOverlay("Cek status...");
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=check_status&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]'),
            dataType: "json",
            success: function (data) {
                //console.log("STATUS : " + data["STATUS"]);
                //console.log("MESSAGE : " + data["MESSAGE"]);
                //gOverlay.hide();
                if (data["STATUS"] == "SUCCESS") {
                    //toastr.success(data["MESSAGE"]);
                    if (data["PAYLOAD"] == "CS_ACKNOWLEDGED") {
                        document.getElementById("tblRecheck").style.display = "block";
                    }
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                //gOverlay.hide();
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }

    function acknowledgeCheckList() {
        if (gApprovalRole != "") {
            var reply = confirm("Konfirmasi telah mengetahui/menyetujui hasil pemeriksaan");
            if (reply == true) {
                createOverlay("Proses...");
                $.ajax({
                    type: "POST",
                    url: "ServiceCheckList",
                    data: "act=acknowledge&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]') + "&ApprovalRole=" + gApprovalRole,
                    dataType: "json",
                    success: function (data) {
                        //console.log("STATUS : " + data["STATUS"]);
                        //console.log("MESSAGE : " + data["MESSAGE"]);
                        gOverlay.hide();
                        if (data["STATUS"] == "SUCCESS") {
                            toastr.success(data["MESSAGE"]);
                            setTimeout(function () {
                                window.location = "Default_";
                            }, 1200);
                        }
                        else {
                            toastr.error(data["MESSAGE"]);
                        }
                    },
                    error: function (error) {
                        //alert("Error : " + error);
                        gOverlay.hide();
                        for (var k in error) {
                            if (error.hasOwnProperty(k)) {
                                alert("Key is : " + k + ", value is : " + error[k]);
                            }
                        }
                    }
                });
            }
        }
        else {
            alert("Parameter tidak lengkap. Silahkan refresh halaman.");
        }
    }

    function redoCheckList() {
        var reply = confirm("Konfirmasi pemeriksaan ulang");
        if (reply == true) {
            createOverlay("Proses...");
            $.ajax({
                type: "POST",
                url: "ServiceCheckList",
                data: "act=recheck&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]'),
                dataType: "json",
                success: function (data) {
                    //console.log("STATUS : " + data["STATUS"]);
                    //console.log("MESSAGE : " + data["MESSAGE"]);
                    gOverlay.hide();
                    if (data["STATUS"] == "SUCCESS") {
                        toastr.success(data["MESSAGE"]);
                        setTimeout(function () {
                            window.location = "Default_";
                        }, 1200);
                    }
                    else {
                        toastr.error(data["MESSAGE"]);
                    }
                },
                error: function (error) {
                    //alert("Error : " + error);
                    gOverlay.hide();
                    for (var k in error) {
                        if (error.hasOwnProperty(k)) {
                            alert("Key is : " + k + ", value is : " + error[k]);
                        }
                    }
                }
            });
        }
    }

    function openAttachment(attPath) {
        var win = window.open(attPath, '_blank');
        win.focus();
    }
</script>

@{
    if (verify == "1")
    {
        <script type="text/javascript">
            checkUserSigningRole();
        </script>
    }
    else
    {
        <script type="text/javascript">
            getCheckListStatus();
        </script>
    }

    if (final == "1")
    {
        <script type="text/javascript">
            checkFinalSigningRole();
        </script>
    }
}