﻿@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Detail Data User"; 

    var IDUser = "";
    var Password = "";
    var Username = "";
    var Status = "";
    var GroupRole = "";
    var PasswordHash = "";
    var LoginTime = "";
    var LoginToken = "";

    IDUser = Request.QueryString["IDUser"];

    var db = Database.Open("PertaminaCheckList");
    var dbCommand = "SELECT * FROM cl_users WHERE U_ID=@0";
    var row = db.QuerySingle(dbCommand, IDUser);

}

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="wrapper">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Data User</h4>
            </div>
        </div>
        <div class="card-box">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-6">
                    <h4 class="header-title m-t-0">Detail Data User</h4>
                    <p class="text-muted font-13 m-b-10">
                    </p>
                    <div class="p-20">
                        <form class="form-horizontal " method="POST">
                            <input type="hidden" value="@IDUser" name="IDUser" />


                            <div class="form-group">
                                <label>Password</label>
                                <div>
                                    <input type="password" class="form-control" required name="Password"
                                           value="@row.U_PASSWORD" disabled/>
                                </div>
                            </div>
                            <input type="hidden" value="@row.U_PASSWORD_HASH" name="PasswordHash" />
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="Username" value="@row.U_NAME" disabled/>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <div>
                                    <input type="text" class="form-control" required
                                           parsley-type="text" name="Status" value="@row.U_STATUS" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Group Role</label>
                                <div>
                                    <input type="text" class="form-control" required
                                           parsley-type="text" name="GroupRole" value="@row.U_GROUP_ROLE" disabled/>
                                </div>
                            </div>
                            <input type="hidden" value="@row.U_LOGIN_TIME" name="LoginTime" />
                            <input type="hidden" value="@row.U_LOGIN_TOKEN" name="LoginToken" />

                            <div class="form-group">
                                <div>
                                    <a href="~/ManajemenUser.cshtml" type="reset" class="btn btn-primary waves-effect m-l-5">
                                        Back To Index
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer text-right">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" align="center">
                    2017 © PT.PERTAMINA. All right reserved
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/tether.min.js"></script><!-- Tether for Bootstrap -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waves.js"></script>
<script src="assets/js/jquery.nicescroll.js"></script>
<script src="assets/plugins/switchery/switchery.min.js"></script>

<!--Morris Chart-->
<script src="assets/plugins/morris/morris.min.js"></script>
<script src="assets/plugins/raphael/raphael-min.js"></script>

<!-- Counter Up  -->
<script src="assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
<script src="assets/plugins/counterup/jquery.counterup.min.js"></script>

<!--Chartist Chart-->
<script src="assets/plugins/chartist/dist/chartist.min.js"></script>
<script src="assets/plugins/chartist/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Knob -->
<script src="assets/plugins/jquery-knob/jquery.knob.js"></script>

<!-- App js -->
<script src="assets/js/jquery.core.js"></script>
<script src="assets/js/jquery.app.js"></script>



