﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Data Pemeriksaan HSE LPG";

    string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;
    SqlConnection conn1 = new SqlConnection(connStr);
    conn1.Open();

    string IDCheckList = "";
    string verify = "0";
    string final = "0";

    if (string.IsNullOrWhiteSpace(Request["IDCheckList"]))
    {
        Response.Redirect("Default_");
    }

    if (!string.IsNullOrWhiteSpace(Request["verify"]))
    {
        verify = Request["verify"];
        if (verify == "1")
        {
            Page.Title = "Verifikasi Pemeriksaan LPG HSE";    
        }
    }

    if (!string.IsNullOrWhiteSpace(Request["final"]))
    {
        final = Request["final"];
        if (final == "1")
        {
            Page.Title = "Verifikasi Persetujuan O.H LPG HSE";
        }
    }

    IDCheckList = Request["IDCheckList"];

    SqlCommand mobil = new SqlCommand();
    mobil.CommandType = CommandType.Text;
    mobil.Connection = conn1;
    mobil.CommandText = "SELECT A.*,B.CL_KRITERIA_PERIKSA,B.CL_TGL_MULAI,B.CL_TGL_STATUS,C.* FROM cl_checklist_request AS A INNER JOIN cl_checklist AS B ON A.CR_ID = B.CR_ID INNER JOIN cl_mobil AS C ON A.MBL_ID = C.MBL_ID WHERE B.CL_ID = @0";
    mobil.Parameters.AddWithValue("@0", IDCheckList);
    SqlDataReader rs_mobil = mobil.ExecuteReader();
    if (!rs_mobil.HasRows)
    {
        Response.Redirect("Default_");
    }
    rs_mobil.Read(); 
    
    //mengetahui
    SqlConnection conn2 = new SqlConnection(connStr);
    conn2.Open();
    SqlCommand clMengetahui = new SqlCommand();
    clMengetahui.CommandType = CommandType.Text;
    clMengetahui.Connection = conn2;
    clMengetahui.CommandText = "SELECT A.*,B.U_NAME FROM cl_checklist_signing AS A INNER JOIN cl_users AS B ON A.CS_APPROVAL_U_ID = B.U_ID WHERE A.CL_ID = @clId AND A.CS_APPROVAL_TYPE = 'AT_MENGETAHUI'";
    clMengetahui.Parameters.AddWithValue("@clId", Request["IDCheckList"]);
    SqlDataReader rs_clMengetahui = clMengetahui.ExecuteReader();
    
    //menyetujui
    SqlConnection conn3 = new SqlConnection(connStr);
    conn3.Open();
    SqlCommand clMenyetujui = new SqlCommand();
    clMenyetujui.CommandType = CommandType.Text;
    clMenyetujui.Connection = conn3;
    clMenyetujui.CommandText = "SELECT A.*,B.U_NAME FROM cl_checklist_signing AS A INNER JOIN cl_users AS B ON A.CS_APPROVAL_U_ID = B.U_ID WHERE A.CL_ID = @clId AND A.CS_APPROVAL_TYPE = 'AT_MENYETUJUI'";
    clMenyetujui.Parameters.AddWithValue("@clId", Request["IDCheckList"]);
    SqlDataReader rs_clMenyetujui = clMenyetujui.ExecuteReader();
}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">@Page.Title</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">
                    <center><h4 class="m-t-0 header-title"><b>HASIL PEMERIKSAAN KELENGKAPAN PERSYARATAN </b></h4></center>
                    <center><h4 class="m-t-0 header-title"><b>MOBIL TANGKI LPG SKID TANK TBBM BANDUNG GROUP-PADALARANG </b></h4></center>
                    <br>
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xs-6">
                        <table cellpadding="10" border="0" cellspacing="10">
                            <tr>
                                <td>Nomor Polisi</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td><b>@rs_mobil["MBL_ID"].ToString()</b></td>
                                <td width="500px"></td>
                                <td>Merk Mobil/Tahun</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_MERK"].ToString()</td>
                            </tr>
                            <tr>
                                <td>Pengelola/Transportir/Agen</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_PENGELOLA"].ToString()</td>
                                <td width="500px"></td>
                                <td>Jenis Produk</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_JENIS"].ToString()</td>
                            </tr>
                            <tr>
                                <td>Pemeriksaan Terakhir tgl.</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["CR_WAKTU"].ToString()</td>
                                <td width="500px"></td>
                                <td>Kapasitas</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_KAPASITAS"]</td>
                            </tr>
                            <tr>
                                <td>Pemeriksaan Tgl.</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["CL_TGL_MULAI"].ToString()</td>
                                <td width="500px"></td>
                                <td>Lokasi</td>
                                <td>&nbsp;&nbsp;:&nbsp;</td>
                                <td>@rs_mobil["MBL_LOKASI"].ToString()</td>
                            </tr>
                        </table>
                        <hr />
                    </div>
                    
                    <br>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Jenis Pemeriksaan</th>
                                <th>Penjelasan</th>
                                <th style="text-align:center">Baik</th>
                                <th style="text-align:center">Tidak</th>
                                <th style="text-align:center">Keterangan</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td colspan="6"><b>A. Persyaratan Umum</b></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>STNK</td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "34") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "34") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "34") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "34");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "34")
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>SIM B1/B2</td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "35") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "35") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "35") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "35");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "35")
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Surat Keur DLLAJR</td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "36") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "36") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "36") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "36");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "36")
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>No. Skid Tank</td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "37") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "37") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "37") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "37");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "37")
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Surat Pemeriksaan/Ts. Skid Tank dari Depnaker</td>
                                <td></td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "38") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "38") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "38") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "38");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "38")
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Keadaan cat kode warna produk</td>
                                <td>Sesuai ketentuan Pertamina</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "39") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "39") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "39") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "39");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "39")
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Tulisan nama &amp; kapasitas tangki</td>
                                <td>Ditulis pada sisi kiri/kanan dan belakang tangki</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "40") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "40") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "40") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "40");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "40")
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6"><b>B. Persyaratan Teknik K3LL</b></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td colspan="2">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <b>Motor/mesin</b>
                                                <br />
                                                <table style="width:100%;">
                                                    <tr><td>Harus pakai screen (tertutup)</td></tr>
                                                    <tr><td>Manifold dengan fuel filter diberi sekat </td></tr>
                                                    <tr><td>Mesin harus bisa di-starter</td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                a. Safety switch
                                                <br />
                                                <table style="width:100%;">
                                                    <tr><td>Dipasang di dalam kabin, mudah dijangkau oleh sopir</td></tr>
                                                    <tr><td>Arus diputus, arus positif</td></tr>
                                                    <tr><td>Arus listrik yang diputus langsung dari Accu</td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                b. Starter
                                                <br />
                                                <table style="width:100%;">
                                                    <tr><td>Sambungan kabel dari knob starter sampai dinamo starter terpasang baik (terisolasi)</td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                c. Saringan udara
                                                <br />
                                                <table style="width:100%;">
                                                    <tr><td>Tertutup dengan baik dan bersih</td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                d. Cut out/voltage regulator 
                                                <br />
                                                <table style="width:100%;">
                                                    <tr><td>Tertutup rapat</td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                e. Surat emisi gas buang
                                                <br />
                                                <table style="width:100%;">
                                                    <tr><td>BPLHD Propinsi Jawa Barat</td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "41") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "41") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "41") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "41");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "41")
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Knalpot</td>
                                <td>Ditempatkan di depan, bengkok ke kanan, melebihi sisi samping kendaraan, tidak bocor dilengkapi saringan/flame trap standar</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "42") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "42") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "42") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "42");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "42")
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Kabel listrik</td>
                                <td>
                                    <table style="width:100%;">
                                        <tr><td>Semua aliran listrik terisolasi </td></tr>
                                        <tr><td>Klakson harus tertutup</td></tr>
                                        <tr><td>Sekering harus asli (bukan kawat sambung)</td></tr>
                                    </table>
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "43") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "43") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "43") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "43");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "43")
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Baterai</td>
                                <td>
                                    <table style="width:100%;">
                                        <tr><td>Harus tertutup dan tidak boleh dibawah tanki </td></tr>
                                        <tr><td>Kabel Accu bebas dari kotoran</td></tr>
                                        <tr><td>Kabel baterai terpasang dng kuat (tdk longgar)</td></tr>
                                    </table>
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "44") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "44") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "44") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "44");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "44")
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Kabel grounding/bounding</td>
                                <td>
                                    <table style="width:100%;">
                                        <tr><td>Kabel bounding terpasang dengan sempurna dan dilengkapi tang</td></tr>
                                        <tr><td>Grounding Jalan bekerja dengan baik tahanan Grounding/Bounding</td></tr>
                                    </table>
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "45") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "45") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "45") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "45");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "45")
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Lampu jauh/dekat, lampu rem, lampu mundur, lampu peringatan </td>
                                <td>Semua lampu-lampu menyala dan tertutup serta tidak berada dibadan tanki/skid tank</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "54") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "54") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "54") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "54");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "54")
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td colspan="2">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <b>Kabin</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                a. Kabin dan tangki
                                                <br />
                                                <table style="width:100%;">
                                                    <tr><td>Jarak 50 cm dengan tangki</td></tr>
                                                    <tr><td>Harus dapat dibuka/ditunggingkan</td></tr>                                               
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                b. Tangki dan bumper belakang
                                                <br />
                                                <table style="width:100%;">
                                                    <tr><td>Jarak antara bumper dan spatboard 30 cm</td></tr>
                                                    <tr><td>Kondisi bumper dan spatboard</td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                c. Kondisi kabin & pintu
                                                <br />
                                                <table style="width:100%;">
                                                    <tr><td>Tidak keropos</td></tr>
                                                    <tr><td>Pintu mudah dibuka</td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                d. Kelengkapan lain
                                                <br />
                                                <table style="width:100%;">
                                                    <tr><td>Kipas kaca (wiper)</td></tr>
                                                    <tr><td>Kaca spion lengkap kiri dan kanan</td></tr>
                                                    <tr><td>Lighter dan radio tape harus dicabut </td></tr>
                                                    <tr><td>Speedometer berfungsi</td></tr>
                                                    <tr><td>Kaca lengkap tidak ada yang pecah</td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "46") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "46") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "46") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "46");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "46")
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Roda/ban termasuk ban serep</td>
                                <td>
                                    <table style="width:100%;">
                                        <tr><td>Tidak gundul/licin/pecah-pecah</td></tr>
                                        <tr><td>Ban harus asli tidak boleh vulkanisir</td></tr>
                                    </table>
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "47") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "47") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "47") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "47");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "47")
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Rem kaki/tangan mundur</td>
                                <td>
                                    <table style="width:100%;">
                                        <tr><td>Rem bekerja pada semua roda kendaraan baik kendaraan bermotor yang berdiri sendiri maupun yang bingkai dengan gandengan </td></tr>
                                        <tr><td>Sediakan balok pengganjal ban </td></tr>
                                        <tr><td>Lampu parkir/rem menyala</td></tr>
                                    </table>
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "48") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "48") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "48") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "48");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "48")
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td colspan="2">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <b>Alat pemadam kebarakaran</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                a. DCP. 20 Lbs sebanyak
                                                <br />
                                                <table style="width:100%;">
                                                    <tr><td>Cap. Diatas 8 ton = 2 buah</td></tr>
                                                    <tr><td>Cap.Dibawah 8 ton = 1 buah</td></tr>
                                                    <tr><td>Slang</td></tr>
                                                    <tr><td>Powder</td></tr>
                                                    <tr><td>Cat</td></tr>
                                                    <tr><td>Berat 9 kg = 2 buah</td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                b. CO2 Min 2 Lbs   
                                                <br />
                                                <table style="width:100%;">
                                                    <tr><td>Slang</td></tr>
                                                    <tr><td>Cat</td></tr>
                                                    <tr><td>Berat 6 kg = 1 buah</td></tr>
                                                </table>                                          
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "49") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>

                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "49") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "49") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "49");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "49")
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Logo tanda peringatan</td>
                                <td>
                                    <table style="width:100%;">
                                        <tr><td>Dilarang merokok</td></tr>
                                        <tr><td>Bahan bakar mudah terbakar</td></tr>
                                        <tr><td>Kecepatan maksimum</td></tr>
                                        <tr><td>Dilarang menumpang</td></tr>
                                    </table>
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "50") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "50") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "50") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "50");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "50")
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Bendera merah</td>
                                <td>Sesuai ketentuan Pertamina</td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "51") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "51") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "51") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "51");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "51")
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Dan lain-lain</td>
                                <td>
                                    <table style="width:100%;">
                                        <tr><td>Kotak obat P3K berisi lengkap</td></tr>
                                        <tr><td>Segitiga pengaman </td></tr>
                                        <tr><td>Seragam sopir/kernet</td></tr>
                                        <tr><td>Safety helmet &amp; Safety shoes</td></tr>
                                    </table>
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "52") == "Y")
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "52") == "N")
                                        {
                                            <i class="fa fa-remove"></i>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (Functions.GetCheckListGroupValue(IDCheckList, "52") == "N")
                                        {
                                            string attachmentPath = Functions.GetWebServiceURL() + "" + Functions.GetCheckListAttachmentPath(IDCheckList, "52");
                                            <a href="javascript:openAttachment('@attachmentPath')">Lihat foto pemeriksaan</a><br />
                                        }
                                    }
                                    @Functions.GetCheckListInfo(IDCheckList, "52")
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table border="0" cellpadding="100" cellspacing="100" id="tblMengetahui" style="width:100%;display:none;">
                        <tr height="50">
                            <td colspan="3">Diperiksa Oleh :</td>
                        </tr>
                        <tr height="50">
                            <!--td width="33.3%">Pemeriksa Kelengkapan Safety<br />OS.HSE</td-->
                            <td id="divHSE_1" style="display:none;">HSE TBBM Bandung Group</td>
                            <td id="divQQ_1" style="display:none;">QQ TBBM Bandung Group</td>
                            <td id="divDistribusi_1" style="display:none;">Distribusi TBBM Bandung Group</td>
                        </tr>
                        <tr height="50">
                            <!--td><button type="button" class="btn btn-danger waves-effect waves-light">OK</button></td-->
                            <td id="divHSE_2" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Mengetahui HSE</button></td>
                            <td id="divQQ_2" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Mengetahui QQ</button></td>
                            <td id="divDistribusi_2" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Mengetahui Distribusi</button></td>
                        </tr>
                    </table>
                    <br />
                    <table border="0" cellpadding="100" cellspacing="100" id="tblRecheck" style="width:100%;display:none;">
                        <tr height="50">
                            <td><button type="button" class="btn btn-dropbox waves-effect waves-light" onclick="redoCheckList()">Periksa Ulang</button></td>
                        </tr>
                    </table>
                    <br />
                    <table border="0" cellpadding="100" cellspacing="100" id="tblMenyetujui" style="width:100%;display:none;">
                        <tr height="50">
                            <td colspan="3">Disetujui Oleh :</td>
                        </tr>
                        <tr height="50">
                            <!--td width="33.3%">Pemeriksa Kelengkapan Safety<br />OS.HSE</td-->
                            <td id="divHSE_3" style="display:none;">HSE TBBM Bandung Group</td>
                            <td id="divQQ_3" style="display:none;">QQ TBBM Bandung Group</td>
                            <td id="divDistribusi_3" style="display:none;">Distribusi TBBM Bandung Group</td>
                            <td id="divOH_3" style="display:none;">Operation Head TBBM Bandung Group</td>
                        </tr>
                        <tr height="50">
                            <!--td><button type="button" class="btn btn-danger waves-effect waves-light">OK</button></td-->
                            <td id="divHSE_4" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Disetujui HSE</button></td>
                            <td id="divQQ_4" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Disetujui QQ</button></td>
                            <td id="divDistribusi_4" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Disetujui Distribusi</button></td>
                            <td id="divOH_4" style="display:none;"><button type="button" class="btn btn-danger waves-effect waves-light" onclick="acknowledgeCheckList()">Disetujui Operation Head</button></td>
                        </tr>
                    </table>
                    <!-- list mengetahui -->
                    <div class="row">
                        @{
                            if (rs_clMengetahui.HasRows)
                            {
                                while (rs_clMengetahui.Read())
                                {
                                <div class="col-xs-12 col-md-4 col-lg-3 col-xl-3">
                                    <div class="card-box tilebox-one" style="background-color:#1B9680; color:#ffffff">
                                        <i class="fa fa-check-circle pull-xs-right text-muted" style="color:#ffffff"></i>
                                        <h6 class="text-muted text-uppercase m-b-20" style="color:#ffffff">MENGETAHUI</h6>
                                        <h6 class="m-b-20" style="text-align:center"><span>@rs_clMengetahui["U_NAME"].ToString()</span></h6>
                                        <span class="label label-danger" style="color:#ffffff"> @Functions.GetReferenceInfo("APPROVAL_ROLE", rs_clMengetahui["CS_APPROVAL_ROLE"].ToString()) </span> 
                                        <div class="text-muted" style="color:#ffffff;font-size:smaller">@rs_clMengetahui["CS_APPROVAL_WAKTU"].ToString()</div>
                                    </div>
                                </div>
                                }
                            }
                            rs_clMengetahui.Close();
                        }
                    </div>

                    <!-- list menyetujui -->
                    <div class="row">
                        @{
                            if (rs_clMenyetujui.HasRows)
                            {
                                while (rs_clMenyetujui.Read())
                                {
                                    <div class="col-xs-12 col-md-4 col-lg-3 col-xl-3">
                                        <div class="card-box tilebox-one" style="background-color:#85C226; color:#ffffff">
                                            <i class="fa fa-check-circle pull-xs-right text-muted" style="color:#ffffff"></i>
                                            <h6 class="text-muted text-uppercase m-b-20" style="color:#ffffff">MENYETUJUI</h6>
                                            <h6 class="m-b-20" style="text-align:center"><span>@rs_clMenyetujui["U_NAME"].ToString()</span></h6>
                                            <span class="label label-danger" style="color:#ffffff"> @Functions.GetReferenceInfo("APPROVAL_ROLE", rs_clMenyetujui["CS_APPROVAL_ROLE"].ToString()) </span>
                                            <div class="text-muted" style="color:#ffffff;font-size:smaller">@rs_clMenyetujui["CS_APPROVAL_WAKTU"].ToString()</div>
                                        </div>
                                    </div>
                                }
                            }
                            rs_clMenyetujui.Close();
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    conn1.Close();
    conn2.Close();
    conn3.Close();
}

<script type="text/javascript">
    var gApprovalRole = "";
    //masih bermasalah di web service
    function getSignings(approvalType) {
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=checklist_signing&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]') + "&ApprovalType=" + approvalType,
            dataType: "json",
            success: function (data) {
                if (data["STATUS"] == "SUCCESS") {
                    toastr.success(data["MESSAGE"]);
                    console.log(data["PAYLOAD"]);
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }
    //getSignings("AT_MENGETAHUI");
    //getSignings("AT_MENYETUJUI");

    function checkUserSigningRole() {
        createOverlay("Cek wewenang...");
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=check_user_signing_role&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]'),
            dataType: "json",
            success: function (data) {
                //console.log("STATUS : " + data["STATUS"]);
                //console.log("MESSAGE : " + data["MESSAGE"]);
                gOverlay.hide();
                if (data["STATUS"] == "SUCCESS") {
                    toastr.success(data["MESSAGE"]);
                    gApprovalRole = data["PAYLOAD_1"];
                    if (data["PAYLOAD"] == "CS_REQ_ACKNOWLEDGE") {
                        document.getElementById("tblMengetahui").style.display = "block";
                        if (data["PAYLOAD_1"] == "AR_HSE") {
                            document.getElementById("divHSE_1").style.display = "block";
                            document.getElementById("divHSE_2").style.display = "block";
                        }
                        if (data["PAYLOAD_1"] == "AR_QQ") {
                            document.getElementById("divQQ_1").style.display = "block";
                            document.getElementById("divQQ_2").style.display = "block";
                        }
                        if (data["PAYLOAD_1"] == "AR_DISTRIBUSI") {
                            document.getElementById("divDistribusi_1").style.display = "block";
                            document.getElementById("divDistribusi_2").style.display = "block";
                        }
                    }
                    if (data["PAYLOAD"] == "CS_REQ_APPROVAL") {
                        document.getElementById("tblMenyetujui").style.display = "block";
                        if (data["PAYLOAD_1"] == "AR_HSE") {
                            document.getElementById("divHSE_3").style.display = "block";
                            document.getElementById("divHSE_4").style.display = "block";
                        }
                        if (data["PAYLOAD_1"] == "AR_QQ") {
                            document.getElementById("divQQ_3").style.display = "block";
                            document.getElementById("divQQ_4").style.display = "block";
                        }
                        if (data["PAYLOAD_1"] == "AR_DISTRIBUSI") {
                            document.getElementById("divDistribusi_3").style.display = "block";
                            document.getElementById("divDistribusi_4").style.display = "block";
                        }
                    }
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                gOverlay.hide();
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }
    //
    function checkFinalSigningRole() {
        //createOverlay("Cek wewenang O.H...");
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=check_final_signing_role&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]'),
            dataType: "json",
            success: function (data) {
                //gOverlay.hide();
                if (data["STATUS"] == "SUCCESS") {
                    toastr.success(data["MESSAGE"]);
                    gApprovalRole = data["PAYLOAD_1"];
                    console.log("gApprovalRole : " + gApprovalRole);
                    if (data["PAYLOAD"] == "CS_REQ_APPROVAL") {
                        document.getElementById("tblMenyetujui").style.display = "block";
                        if (data["PAYLOAD_1"] == "AR_OH") {
                            document.getElementById("divOH_3").style.display = "block";
                            document.getElementById("divOH_4").style.display = "block";
                        }
                    }
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                //gOverlay.hide();
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }
    
    function getCheckListStatus() {
        //createOverlay("Cek status...");
        $.ajax({
            type: "POST",
            url: "ServiceCheckList",
            data: "act=check_status&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]'),
            dataType: "json",
            success: function (data) {
                //console.log("STATUS : " + data["STATUS"]);
                //console.log("MESSAGE : " + data["MESSAGE"]);
                //gOverlay.hide();
                if (data["STATUS"] == "SUCCESS") {
                    //toastr.success(data["MESSAGE"]);
                    if (data["PAYLOAD"] == "CS_ACKNOWLEDGED") {
                        document.getElementById("tblRecheck").style.display = "block";
                    }
                }
                else {
                    toastr.error(data["MESSAGE"]);
                }
            },
            error: function (error) {
                //alert("Error : " + error);
                //gOverlay.hide();
                for (var k in error) {
                    if (error.hasOwnProperty(k)) {
                        alert("Key is : " + k + ", value is : " + error[k]);
                    }
                }
            }
        });
    }

    function acknowledgeCheckList() {
        if (gApprovalRole != "") {
            var reply = confirm("Konfirmasi telah mengetahui/menyetujui hasil pemeriksaan");
            if (reply == true) {
                createOverlay("Proses...");
                $.ajax({
                    type: "POST",
                    url: "ServiceCheckList",
                    data: "act=acknowledge&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]') + "&ApprovalRole=" + gApprovalRole,
                    dataType: "json",
                    success: function (data) {
                        //console.log("STATUS : " + data["STATUS"]);
                        //console.log("MESSAGE : " + data["MESSAGE"]);
                        gOverlay.hide();
                        if (data["STATUS"] == "SUCCESS") {
                            toastr.success(data["MESSAGE"]);
                            setTimeout(function () {
                                window.location = "Default_";
                            }, 1200);
                        }
                        else {
                            toastr.error(data["MESSAGE"]);
                        }
                    },
                    error: function (error) {
                        //alert("Error : " + error);
                        gOverlay.hide();
                        for (var k in error) {
                            if (error.hasOwnProperty(k)) {
                                alert("Key is : " + k + ", value is : " + error[k]);
                            }
                        }
                    }
                });
            }
        }
        else {
            alert("Parameter tidak lengkap. Silahkan refresh halaman.");
        }
    }

    function redoCheckList() {
        var reply = confirm("Konfirmasi pemeriksaan ulang");
        if (reply == true) {
            createOverlay("Proses...");
            $.ajax({
                type: "POST",
                url: "ServiceCheckList",
                data: "act=recheck&IDCheckList=" + encodeURI('@Request["IDCheckList"]') + "&IDUser=" + encodeURI('@Session["LOGIN_ID"]'),
                dataType: "json",
                success: function (data) {
                    //console.log("STATUS : " + data["STATUS"]);
                    //console.log("MESSAGE : " + data["MESSAGE"]);
                    gOverlay.hide();
                    if (data["STATUS"] == "SUCCESS") {
                        toastr.success(data["MESSAGE"]);
                        setTimeout(function () {
                            window.location = "Default_";
                        }, 1200);
                    }
                    else {
                        toastr.error(data["MESSAGE"]);
                    }
                },
                error: function (error) {
                    //alert("Error : " + error);
                    gOverlay.hide();
                    for (var k in error) {
                        if (error.hasOwnProperty(k)) {
                            alert("Key is : " + k + ", value is : " + error[k]);
                        }
                    }
                }
            });
        }
    }

    function openAttachment(attPath) {
        var win = window.open(attPath, '_blank');
        win.focus();
    }
</script>

@{
    if (verify == "1")
    {
        <script type="text/javascript">
            checkUserSigningRole();
        </script>        
    }
    else
    {
        <script type="text/javascript">
            getCheckListStatus();
        </script>
    }

    if (final == "1")
    {
        <script type="text/javascript">
            checkFinalSigningRole();
        </script>
    }
}