﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Edit Data User";

    string errMsg = "";
    string optSelected_ACCT_ACTIVE = "";
    string optSelected_ACCT_BLOCKED = "";
    string optSelected_GR_ADMINISTRATOR = "";
    string optSelected_GR_USER = "";

    string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;
    
    var IDUser = "";
    var Password = "";
    var Username = "";
    var Status = "";
    var GroupRole = "";
    var PasswordHash = "";
    
    if(!IsPost)
    {
        if (string.IsNullOrWhiteSpace(Request["IDUser"]))
        {
            Response.Redirect("ManajemenUser");
        }

        IDUser = Request.QueryString["IDUser"];

        SqlConnection conn0 = new SqlConnection(connStr);
        conn0.Open();
        SqlCommand user = new SqlCommand();
        user.CommandText = "SELECT * FROM cl_users WHERE U_ID = @0";
        user.CommandType = CommandType.Text;
        user.Connection = conn0;
        user.Parameters.AddWithValue("@0", IDUser);
        SqlDataReader rs_user = user.ExecuteReader();
        if (!rs_user.HasRows)
        {
            Session["PAGE_MESSAGE"] = "Data user " + IDUser + " tidak ada";
            Session["PAGE_STATUS"] = "ERROR";
            Response.Redirect("ManajemenUser");
        }

        rs_user.Read();
        Username = rs_user["U_NAME"].ToString();
        Password = rs_user["U_PASSWORD"].ToString();
        Status = rs_user["U_STATUS"].ToString();
        if(Status == "ACCT_ACTIVE")
        {
            optSelected_ACCT_ACTIVE = "selected";
        }
        if(Status == "ACCT_BLOCKED")
        {
            optSelected_ACCT_BLOCKED = "selected";
        }
        
        GroupRole = rs_user["U_GROUP_ROLE"].ToString();
        if(GroupRole == "GR_ADMINISTRATOR")
        {
            optSelected_GR_ADMINISTRATOR = "selected";
        }
        if(GroupRole == "GR_USER")
        {
            optSelected_GR_USER = "selected";
        }
        rs_user.Close();
        conn0.Close();
    }
    
    if (IsPost)
    {
        if (string.IsNullOrWhiteSpace(Request.Form["Password"]))
        {
            errMsg += "Isikan password \n";
        }

        if (string.IsNullOrWhiteSpace(Request.Form["Username"]))
        {
            errMsg += "Isikan nama user \n";
        }

        if(errMsg == "")
        { 
            IDUser = Request.Form["IDUser"];
            Password = Request.Form["Password"];
            PasswordHash = Functions.md5(IDUser + "" + Password);
            Username = Request.Form["Username"];
            Status = Request.Form["Status"];
            GroupRole = Request.Form["GroupRole"];

            SqlConnection conn1 = new SqlConnection(connStr);
            conn1.Open();
            SqlCommand updUser = new SqlCommand();
            updUser.CommandType = CommandType.Text;
            updUser.Connection = conn1;
            updUser.CommandText = "UPDATE cl_users SET U_PASSWORD=@1,U_PASSWORD_HASH=@2, U_NAME=@3, U_STATUS=@4, U_GROUP_ROLE=@5 WHERE U_ID=@0";
            updUser.Parameters.AddWithValue("@0", IDUser);
            updUser.Parameters.AddWithValue("@1", Password);
            updUser.Parameters.AddWithValue("@2", PasswordHash);
            updUser.Parameters.AddWithValue("@3", Username);
            updUser.Parameters.AddWithValue("@4", Status);
            updUser.Parameters.AddWithValue("@5", GroupRole);
            int opr = updUser.ExecuteNonQuery();
            conn1.Close();

            Session["PAGE_MESSAGE"] = "Perubahan data user " + IDUser + " telah disimpan";
            Session["PAGE_STATUS"] = "SUCCESS";

            Response.Redirect("ManajemenUser");
        }
    }
}
    
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="wrapper">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h5 class="page-title"><a href="~/ManajemenUser"><i class="icon-arrow-left position-left"></i> Data User</a></h5>
            </div>
        </div>
        <div class="card-box">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-6">
                    <h4 class="header-title m-t-0">Edit Data User</h4>
                    <p class="text-muted font-13 m-b-10">
                    </p>
                    <div class="p-20">
                        <form class="form-horizontal " method="POST">
                            <input type="hidden" value="@IDUser" name="IDUser" />

                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="Username" value="@Username" />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <div>
                                    <input type="password" class="form-control" required name="Password"
                                           value="@Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <div>
                                    <select class="form-control" name="Status">
                                        <option value="ACCT_ACTIVE" @optSelected_ACCT_ACTIVE>Aktif</option>
                                        <option value="ACCT_BLOCKED" @optSelected_ACCT_BLOCKED>Terblokir</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Group Role</label>
                                <div>
                                    <select class="form-control" name="GroupRole">
                                        <option value="GR_ADMINISTRATOR" @optSelected_GR_ADMINISTRATOR>Administrator</option>
                                        <option value="GR_USER" @optSelected_GR_USER>User</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">
                                        Submit
                                    </button>
                                    <button type="button" onclick="window.location='ManajemenUser'" class="btn btn-secondary waves-effect m-l-5">
                                        Batal
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@{
    if (errMsg != "")
    {
        <script type="text/javascript">
            toastr.error("@errMsg");
        </script>
    }
}
