﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Pengaturan User";

    string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;
    SqlConnection conn1 = new SqlConnection(connStr);
    SqlCommand users = new SqlCommand();
    SqlDataReader rs_users;

    users.CommandText = "SELECT A.*,B.R_INFO FROM cl_users AS A INNER JOIN cl_references AS B ON A.U_STATUS = B.R_ID WHERE B.R_CATEGORY = 'ACCT_STATUS' AND A.U_ID NOT IN ('" + Session["LOGIN_ID"] + "')";
    users.CommandType = CommandType.Text;
    users.Connection = conn1;

    conn1.Open();

    rs_users = users.ExecuteReader();

    if (Session["PAGE_MESSAGE"] != null && Session["PAGE_STATUS"] != null)
    {
        if (Session["PAGE_STATUS"] == "SUCCESS")
        {
            <script type="text/javascript">
                toastr.success('@Session["PAGE_MESSAGE"]');
            </script>
        }
        if (Session["PAGE_STATUS"] == "ERROR")
        {
            <script type="text/javascript">
                toastr.error('@Session["PAGE_MESSAGE"]');
            </script>
        }
    }
    Session["PAGE_MESSAGE"] = null;
    Session["PAGE_STATUS"] = null;
}
<script type="text/javascript" language="JavaScript">
    function confirmDelete(userId) {
        var tanya = confirm("Hapus data user " + userId + " ?");
        if (tanya == true) {
            createOverlay("Proses...");
            $.ajax({
                type: "POST",
                url: "ServiceUser",
                data: "act=delete&id=" + encodeURI(userId),
                dataType: "json",
                success: function (data) {
                    //console.log("STATUS : " + data["STATUS"]);
                    //console.log("MESSAGE : " + data["MESSAGE"]);
                    gOverlay.hide();
                    if (data["STATUS"] == "SUCCESS") {
                        toastr.success(data["MESSAGE"]);
                        setTimeout(function () {
                            location.reload();
                        }, 900);
                    }
                    else {
                        toastr.error(data["MESSAGE"]);
                    }
                },
                error: function (error) {
                    //alert("Error : " + error);
                    gOverlay.hide();
                    for (var k in error) {
                        if (error.hasOwnProperty(k)) {
                            alert("Key is : " + k + ", value is : " + error[k]);
                        }
                    }
                }
            });
        }
    }
</script>
    <div class="wrapper">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Pengaturan User</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title"><b>Pengaturan Wewenang User</b></h4>
                        <br>
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Nama</th>
                                    <th style="text-align:center">Status</th>
                                    <th style="text-align:center">Wewenang</th>
                                </tr>
                            </thead>


                            <tbody>
                                @{
                                    if (rs_users.HasRows)
                                    {
                                        while (rs_users.Read())
                                        {
                                            <tr>
                                                <td><b>@rs_users["U_ID"].ToString()</b></td>
                                                <td>@rs_users["U_NAME"].ToString()</td>
                                                <td style="text-align:center">@rs_users["R_INFO"].ToString()</td>
                                                <td style="text-align:left">
                                                    
                                                    <div class="form-group row">
                                                        <!--<label class="col-sm-2">Checkbox</label>-->
                                                        <div class="col-sm-10">
                                                            <div class="checkbox checkbox-primary">
                                                                <input id="cbHSE_@rs_users["U_ID"].ToString()" type="checkbox" @Functions.GetCheckedApprovalRole(rs_users["U_ID"].ToString(), "AR_HSE") onchange="updateRole('cbHSE_@rs_users["U_ID"].ToString()','@rs_users["U_ID"].ToString()','AR_HSE')">
                                                                <label for="cbHSE">&nbsp;Bag. HSE</label>
                                                            </div>
                                                            <br />
                                                            <div class="checkbox checkbox-primary">
                                                                <input id="cbQQ_@rs_users["U_ID"].ToString()" type="checkbox" @Functions.GetCheckedApprovalRole(rs_users["U_ID"].ToString(), "AR_QQ") onchange="updateRole('cbQQ_@rs_users["U_ID"].ToString()','@rs_users["U_ID"].ToString()','AR_QQ')">
                                                                <label for="cbQQ">&nbsp;Bag. QQ</label>
                                                            </div>
                                                            <br />
                                                            <div class="checkbox checkbox-primary">
                                                                <input id="cbDistribusi_@rs_users["U_ID"].ToString()" type="checkbox" @Functions.GetCheckedApprovalRole(rs_users["U_ID"].ToString(), "AR_DISTRIBUSI") onchange="updateRole('cbDistribusi_@rs_users["U_ID"].ToString()','@rs_users["U_ID"].ToString()','AR_DISTRIBUSI')">
                                                                <label for="cbDistribusi">&nbsp;Bag. Distribusi</label>
                                                            </div>
                                                            <br />
                                                            <div class="checkbox checkbox-primary">
                                                                <input id="cbOH_@rs_users["U_ID"].ToString()" type="checkbox" @Functions.GetCheckedApprovalRole(rs_users["U_ID"].ToString(), "AR_OH") onchange="updateRole('cbOH_@rs_users["U_ID"].ToString()','@rs_users["U_ID"].ToString()','AR_OH')">
                                                                <label for="cbOH">&nbsp;Operation Head</label>
                                                            </div>
                                                        </div>
                                                    </div>     
                                                </td>
                                            </tr>
                                        }
                                    }

                                    rs_users.Close();
                                    conn1.Close();
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end row -->
            <!-- end row -->
    </div> <!-- container -->
</div>

<script type="text/javascript">
    function updateRole(cbId, uId, approvalRole) {
        var checkValue = ""
        if (document.getElementById(cbId).checked) {
            checkValue = "CHECKED";
        }
        else {
            checkValue = "UNCHECKED";
        }

        if (checkValue != "") {
            $.ajax({
                type: "POST",
                url: "ServiceUser",
                data: "act=update_role&userId=" + encodeURI(uId) + "&approvalRole=" + encodeURI(approvalRole) + "&checkValue=" + checkValue,
                dataType: "json",
                success: function (data) {
                    if (data["STATUS"] == "SUCCESS") {
                        toastr.success(data["MESSAGE"]);
                    }
                    else {
                        toastr.error(data["MESSAGE"]);
                    }
                },
                error: function (error) {
                    for (var k in error) {
                        if (error.hasOwnProperty(k)) {
                            alert("Key is : " + k + ", value is : " + error[k]);
                        }
                    }
                }
            });
        }
    }
</script>