﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Profil";

    string errMsg = "";

    if (IsPost)
    {
        if (string.IsNullOrWhiteSpace(Request.Form["userName"]))
        {
            errMsg += "Isikan nama Anda \n";
        }
        
        if (errMsg == "")
        {
            string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;

            SqlConnection conn1 = new SqlConnection(connStr);
            conn1.Open();
            SqlCommand updUser = new SqlCommand();
            updUser.Connection = conn1;
            updUser.CommandType = CommandType.Text;
            updUser.CommandText = "UPDATE cl_users SET U_NAME = @0 WHERE U_ID = @1";
            updUser.Parameters.AddWithValue("@0", Request.Form["userName"]);
            updUser.Parameters.AddWithValue("@1", Session["LOGIN_ID"]);
            
            int opr = updUser.ExecuteNonQuery();
            conn1.Close();

            Session["LOGIN_NAME"] = Request.Form["userName"];
            
            Session["PAGE_MESSAGE"] = "Perubahan data profil Anda telah disimpan";
            Session["PAGE_STATUS"] = "SUCCESS";
            Response.Redirect("Default_");
        }
    }
}

<div class="wrapper">
    <div class="container">
        <!-- Page-Title -->
        <!--
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Ubah Password</h4>
            </div>
        </div>
        //-->
        <div class="row">
            <div class="col-sm-10">
                <div class="card-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4 class="m-b-30 m-t-0 header-title panel-heading"><b>Profil Anda</b></h4>
                            <form method="post" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label">User ID</label>
                                    <div class="col-sm-7">
                                        <input type="text" readonly class="font-weight-bold form-control" value="@Session["LOGIN_ID"]" />
                                        <!--<a href="#" id="inline-username" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click" style="display: inline-block;">User name</a>-->
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label">Nama</label>
                                    <div class="col-sm-7">
                                        <input type="text" name="userName" class="form-control" value="@Session["LOGIN_NAME"]" />
                                    </div>
                                </div>
                                
                                <br />
                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light" name="buttonSubmit">
                                            Simpan
                                        </button>
                                        <button type="button" onclick="window.location='Default_'" class="btn btn-secondary waves-effect m-l-5">
                                            Batal
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    if (errMsg != "")
    {
        <script type="text/javascript">
            toastr.error("@errMsg");
        </script>
    }
}
