﻿@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/_LayoutUtama.cshtml";
    Page.Title = "Riwayat Pemeriksaan";

    string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;
    SqlCommand checklist = new SqlCommand();
    SqlDataReader rs_checklist = null;

    string clStatus = "";
    
    if (!IsPost)
    {
        if (string.IsNullOrWhiteSpace(Request["status"]))
        {
            clStatus = "CS_PROGRESS";
        }
        else
        {
            clStatus = Request["status"];
        }

        SqlConnection conn1 = new SqlConnection(connStr);
        conn1.Open();

        checklist.CommandType = CommandType.Text;
        //checklist.CommandText = "SELECT A.*,B.MBL_ID,C.MBL_PENGELOLA,C.MBL_TIPE,C.MBL_SUBTIPE FROM cl_checklist AS A INNER JOIN cl_checklist_request AS B ON A.CR_ID = B.CR_ID INNER JOIN cl_mobil AS C ON B.MBL_ID = C.MBL_ID WHERE A.CL_STATUS = @clStatus ORDER BY B.MBL_ID";
        checklist.CommandText = "SELECT A.*,B.MBL_ID,C.MBL_PENGELOLA,C.MBL_TIPE,C.MBL_SUBTIPE FROM cl_checklist AS A INNER JOIN cl_checklist_request AS B ON A.CR_ID = B.CR_ID INNER JOIN cl_mobil AS C ON B.MBL_ID = C.MBL_ID ORDER BY B.MBL_ID";
        checklist.Connection = conn1;
        //checklist.Parameters.AddWithValue("@clStatus", clStatus);

        rs_checklist = checklist.ExecuteReader();
    }
}
<div class="wrapper">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">@Page.Title</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">
                    <br>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Mobil</th>
                                <th>Kriteria Pemeriksaan</th>
                                <th>Tanggal</th>
                                <th>User</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                if (rs_checklist.HasRows)
                                {
                                    while (rs_checklist.Read())
                                    {
                                        <tr>
                                            <td><b>@rs_checklist["MBL_ID"].ToString()</b></td>
                                            <td>@rs_checklist["CL_KRITERIA_PERIKSA"].ToString()</td>
                                            <td>@rs_checklist["CL_TGL_STATUS"].ToString()</td>
                                            <td>@rs_checklist["U_ID"].ToString()</td>
                                            <td style="text-align:center;">
                                                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                                    @if (@rs_checklist["CL_KRITERIA_PERIKSA"].ToString() == "HSE")
                                                    {
                                                        if (@rs_checklist["MBL_TIPE"].ToString() == "MBL_BBM")
                                                        {
                                                            <a href="Detail-HSE-BBM?IDCheckList=@rs_checklist["CL_ID"].ToString()" class="col-lg-6">
                                                                <i class="zmdi zmdi-eye"></i><span> Detil</span>
                                                            </a>
                                                        }

                                                        if (@rs_checklist["MBL_TIPE"].ToString() == "MBL_LPG")
                                                        {
                                                            <a href="Detail-HSE-LPG?IDCheckList=@rs_checklist["CL_ID"].ToString()" class="col-lg-6">
                                                                <i class="zmdi zmdi-eye"></i><span> Detil</span>
                                                            </a>
                                                        }

                                                        if (@rs_checklist["MBL_TIPE"].ToString() == "MBL_BRG")
                                                        {
                                                            <a href="Detail-HSE-BRG?IDCheckList=@rs_checklist["CL_ID"].ToString()" class="col-lg-6">
                                                                <i class="zmdi zmdi-eye"></i><span> Detil</span>
                                                            </a>
                                                        }

                                                    }
                                                    @if (@rs_checklist["CL_KRITERIA_PERIKSA"].ToString() == "QQ")
                                                    {
                                                        if (@rs_checklist["MBL_TIPE"].ToString() == "MBL_BBM")
                                                        {
                                                            <a href="Detail-QQ-BBM?IDCheckList=@rs_checklist["CL_ID"].ToString()" class="col-lg-6">
                                                                <i class="zmdi zmdi-eye"></i><span> Detil</span>
                                                            </a>
                                                        }
                                                    }
                                                    
                                                    @if (Functions.GetDownloadStatus(rs_checklist["CL_ID"].ToString()) == "APPROVED_DOWNLOAD")
                                                    {
                                                        <a href="SuratIjin?IDCheckList=@rs_checklist["CL_ID"]" class="col-lg-6">
                                                            <i class="zmdi zmdi-download"></i><span> Download</span>
                                                        </a>
                                                    }
                                                    @if (Functions.GetDownloadStatus(rs_checklist["CL_ID"].ToString()) == "TEMPORARY_DOWNLOAD")
                                                    {
                                                        <a href="SuratIjin?IDCheckList=@rs_checklist["CL_ID"]" class="col-lg-6">
                                                            <i class="zmdi zmdi-download"></i><span> Download</span>
                                                        </a>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
