﻿@using iTextSharp.text;
@using iTextSharp.text.pdf;
@using iTextSharp.text.html.simpleparser;
@using System.IO;
@using System.Net;
@using System.Data;
@using System.Data.SqlClient;
@{
    if (string.IsNullOrWhiteSpace(Request["IDCheckList"]))
    {
        Session["PAGE_MESSAGE"] = "Parameter ID checklist tidak ditemukan !";
        Session["PAGE_STATUS"] = "ERROR";
        Response.Redirect("Default_");
    }
    
    string clId = Request["IDCheckList"];
    string downloadStatus = Functions.GetDownloadStatus(clId);
    
    if (downloadStatus == "TEMPORARY_DOWNLOAD" || downloadStatus == "APPROVED_DOWNLOAD")
    {
        string connStr = System.Configuration.ConfigurationManager.ConnectionStrings["constr"].ConnectionString;
        SqlConnection conn1 = new SqlConnection(connStr);
        conn1.Open();

        //cek dl apakah ada datanya di cl_checklist
        SqlCommand checkList = new SqlCommand();
        checkList.CommandType = CommandType.Text;
        checkList.CommandText = "SELECT A.*,B.CR_ID,B.MBL_ID,B.CR_SURAT_IJIN_NOMOR,B.CR_SURAT_IJIN_TGL_HABIS,C.MBL_TIPE,C.MBL_MERK,C.MBL_TAHUN,C.MBL_JENIS,C.MBL_KAPASITAS,C.MBL_SUBTIPE,C.MBL_PENGELOLA,D.R_ID FROM cl_checklist AS A INNER JOIN cl_checklist_request AS B ON A.CR_ID = B.CR_ID INNER JOIN cl_mobil AS C ON B.MBL_ID = C.MBL_ID INNER JOIN cl_references AS D ON C.MBL_TIPE = D.R_ID WHERE A.CL_ID = @clIdParam0 AND D.R_CATEGORY = 'TIPE_MOBIL'";
        checkList.Connection = conn1;
        checkList.Parameters.AddWithValue("@clIdParam0", clId);
        SqlDataReader rs_checkList = checkList.ExecuteReader();
        if (!rs_checkList.HasRows)
        {
            Session["PAGE_MESSAGE"] = "Checklist ID# " + clId + "tidak terdaftar";
            Session["PAGE_STATUS"] = "ERROR";
            Response.Redirect("Default_");

            rs_checkList.Close();
            conn1.Close();
        }
        else //data checklist ada
        {
            rs_checkList.Read();
        
            // Create a Document object
            //var document = new Document(PageSize.A5, 50, 50, 25, 25);
            var document = new Document();
            //document.SetPageSize(iTextSharp.text.PageSize.A5.Rotate());
            document.SetPageSize(iTextSharp.text.PageSize.A4);
            
            // Create a new PdfWrite object, writing the output to a MemoryStream
            var output = new MemoryStream();
            var writer = PdfWriter.GetInstance(document, output);

            // Open the Document for writing
            document.Open();

            // Read in the contents of the Receipt.htm HTML template file
            string contents = File.ReadAllText(Server.MapPath("~/PDF-HTML_Template/SuratIjin.htm"));

            // Replace the placeholders with the user-specified text
            /*
            contents = contents.Replace("[ORDERID]", "12345");
            contents = contents.Replace("[TOTALPRICE]", "1989");
            contents = contents.Replace("[ORDERDATE]", DateTime.Now.ToShortDateString());
            */
            /*
            var itemsTable = @"<table><tr><th style=""font-weight: bold"">Item #</th><th style=""font-weight: bold"">Item Name</th><th style=""font-weight: bold"">Qty</th></tr>";
            for (int i = 0; i < 4; i++)
            {
                itemsTable += "<tr><td>{0}</td><td>{1}</td><td>{2}</td></tr>";
            }

            itemsTable += "</table>";

            contents = contents.Replace("[ITEMS]", itemsTable);
            */
            contents = contents.Replace("[NO_URUT]", rs_checkList["CR_SURAT_IJIN_NOMOR"].ToString());
            contents = contents.Replace("[MBL_ID]", rs_checkList["MBL_ID"].ToString());
            contents = contents.Replace("[MBL_PENGELOLA]", rs_checkList["MBL_PENGELOLA"].ToString());
            contents = contents.Replace("[MBL_TAHUN]", rs_checkList["MBL_TAHUN"].ToString());
            contents = contents.Replace("[MBL_KAPASITAS]", rs_checkList["MBL_KAPASITAS"].ToString());
            contents = contents.Replace("[MBL_MERK]", rs_checkList["MBL_MERK"].ToString());
            contents = contents.Replace("[MBL_TIPE]", Functions.GetReferenceInfo("TIPE_MOBIL",rs_checkList["MBL_TIPE"].ToString()));
            contents = contents.Replace("[MBL_SUBTIPE]", Functions.GetReferenceInfo("SUBTIPE_MOBIL",rs_checkList["MBL_SUBTIPE"].ToString()));
            contents = contents.Replace("[CR_SURAT_IJIN_TGL_HABIS]", ((DateTime) rs_checkList["CR_SURAT_IJIN_TGL_HABIS"]).ToString("dd MMMM yyyy"));

            //User OH
            string OHName = "Operation Head";
            SqlConnection conn2 = new SqlConnection(connStr);
            conn2.Open();
            
            SqlCommand userOH = new SqlCommand();
            userOH.CommandType = CommandType.Text;
            userOH.CommandText = "SELECT A.*,B.U_NAME FROM cl_users_signers AS A INNER JOIN cl_users AS B ON A.U_ID = B.U_ID WHERE A.US_APPROVAL_ROLE = 'AR_OH';";
            userOH.Connection = conn2;
            SqlDataReader rs_userOH = userOH.ExecuteReader();
            if(rs_userOH.HasRows)
            {
                rs_userOH.Read(); //ambil data pertama saja
                OHName = rs_userOH["U_NAME"].ToString();
            }
            
            rs_userOH.Close();
            conn2.Close();

            contents = contents.Replace("[USER_OH]", OHName);
            
            var parsedHtmlElements = HTMLWorker.ParseToList(new StringReader(contents), null);
            foreach (var htmlElement in parsedHtmlElements)
            {
                document.Add(htmlElement as IElement);
            }

            // You can add additional elements to the document. Let's add an image in the upper right corner
            //var logo = iTextSharp.text.Image.GetInstance(Server.MapPath("~/img/Logo-Pertamina.png"));
            //logo.SetAbsolutePosition(440, 800);
            //document.Add(logo);

            document.Close();

            rs_checkList.Close();
            conn1.Close();
            
            Response.ContentType = "application/pdf";
            Response.AddHeader("Content-Disposition", string.Format("attachment;filename=SuratIjin-{0}.pdf", clId + "_" + DateTime.Now.ToShortDateString()));
            Response.BinaryWrite(output.ToArray());
        }
    }
    else
    {
        Session["PAGE_MESSAGE"] = "Checklist tidak memenuhi persyaratan untuk diterbitan surat ijin";
        Session["PAGE_STATUS"] = "ERROR";
        Response.Redirect("Default_");
    }
    
}
